@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #66CC76;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: -15px;
}

.fill {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background: #FFF;
  cursor: pointer;
}

.shadow {
  z-index: -5;
}

@-webkit-keyframes rotate-ball {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    border-radius: 50%;
  }
  80%, 100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-radius: 0;
  }
}

@keyframes rotate-ball {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    border-radius: 50%;
  }
  80%, 100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-radius: 0;
  }
}
@-webkit-keyframes increase-shadow {
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    background: #66DD76;
  }
}
@keyframes increase-shadow {
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    background: #66DD76;
  }
}
.disk {
  z-index: -3;
  border: 1px solid #FFF;
  box-sizing: border-box;
}

@-webkit-keyframes increase-disk {
  60% {
    width: 160px;
    height: 160px;
    top: -80px;
    left: -80px;
    opacity: 1;
  }
  75%, 100% {
    width: 160px;
    height: 160px;
    top: -80px;
    left: -80px;
    opacity: 0;
  }
}

@keyframes increase-disk {
  60% {
    width: 160px;
    height: 160px;
    top: -80px;
    left: -80px;
    opacity: 1;
  }
  75%, 100% {
    width: 160px;
    height: 160px;
    top: -80px;
    left: -80px;
    opacity: 0;
  }
}
.line {
  border: 2px solid #FFF;
  height: 1px;
  width: 1px;
  box-sizing: border-box;
  position: absolute;
  z-index: -3;
}

.lines {
  position: absolute;
  z-index: -3;
}

.line:nth-child(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(4) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(5) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(6) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(7) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(8) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(9) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(10) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(11) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  top: -2px;
  left: -2px;
}

.line:nth-child(12) {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  top: -2px;
  left: -2px;
}

@-webkit-keyframes animate-line-1 {
  60% {
    -webkit-transform: rotate(30deg) translate(0, -110px) scale(1, 6);
            transform: rotate(30deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(30deg) translate(0, -110px) scale(1, 6);
            transform: rotate(30deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}

@keyframes animate-line-1 {
  60% {
    -webkit-transform: rotate(30deg) translate(0, -110px) scale(1, 6);
            transform: rotate(30deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(30deg) translate(0, -110px) scale(1, 6);
            transform: rotate(30deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-2 {
  60% {
    -webkit-transform: rotate(60deg) translate(0, -110px) scale(1, 6);
            transform: rotate(60deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(60deg) translate(0, -110px) scale(1, 6);
            transform: rotate(60deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-2 {
  60% {
    -webkit-transform: rotate(60deg) translate(0, -110px) scale(1, 6);
            transform: rotate(60deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(60deg) translate(0, -110px) scale(1, 6);
            transform: rotate(60deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-3 {
  60% {
    -webkit-transform: rotate(90deg) translate(0, -110px) scale(1, 6);
            transform: rotate(90deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(90deg) translate(0, -110px) scale(1, 6);
            transform: rotate(90deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-3 {
  60% {
    -webkit-transform: rotate(90deg) translate(0, -110px) scale(1, 6);
            transform: rotate(90deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(90deg) translate(0, -110px) scale(1, 6);
            transform: rotate(90deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-4 {
  60% {
    -webkit-transform: rotate(120deg) translate(0, -110px) scale(1, 6);
            transform: rotate(120deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(120deg) translate(0, -110px) scale(1, 6);
            transform: rotate(120deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-4 {
  60% {
    -webkit-transform: rotate(120deg) translate(0, -110px) scale(1, 6);
            transform: rotate(120deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(120deg) translate(0, -110px) scale(1, 6);
            transform: rotate(120deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-5 {
  60% {
    -webkit-transform: rotate(150deg) translate(0, -110px) scale(1, 6);
            transform: rotate(150deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(150deg) translate(0, -110px) scale(1, 6);
            transform: rotate(150deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-5 {
  60% {
    -webkit-transform: rotate(150deg) translate(0, -110px) scale(1, 6);
            transform: rotate(150deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(150deg) translate(0, -110px) scale(1, 6);
            transform: rotate(150deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-6 {
  60% {
    -webkit-transform: rotate(180deg) translate(0, -110px) scale(1, 6);
            transform: rotate(180deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(180deg) translate(0, -110px) scale(1, 6);
            transform: rotate(180deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-6 {
  60% {
    -webkit-transform: rotate(180deg) translate(0, -110px) scale(1, 6);
            transform: rotate(180deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(180deg) translate(0, -110px) scale(1, 6);
            transform: rotate(180deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-7 {
  60% {
    -webkit-transform: rotate(210deg) translate(0, -110px) scale(1, 6);
            transform: rotate(210deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(210deg) translate(0, -110px) scale(1, 6);
            transform: rotate(210deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-7 {
  60% {
    -webkit-transform: rotate(210deg) translate(0, -110px) scale(1, 6);
            transform: rotate(210deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(210deg) translate(0, -110px) scale(1, 6);
            transform: rotate(210deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-8 {
  60% {
    -webkit-transform: rotate(240deg) translate(0, -110px) scale(1, 6);
            transform: rotate(240deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(240deg) translate(0, -110px) scale(1, 6);
            transform: rotate(240deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-8 {
  60% {
    -webkit-transform: rotate(240deg) translate(0, -110px) scale(1, 6);
            transform: rotate(240deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(240deg) translate(0, -110px) scale(1, 6);
            transform: rotate(240deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-9 {
  60% {
    -webkit-transform: rotate(270deg) translate(0, -110px) scale(1, 6);
            transform: rotate(270deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(270deg) translate(0, -110px) scale(1, 6);
            transform: rotate(270deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-9 {
  60% {
    -webkit-transform: rotate(270deg) translate(0, -110px) scale(1, 6);
            transform: rotate(270deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(270deg) translate(0, -110px) scale(1, 6);
            transform: rotate(270deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-10 {
  60% {
    -webkit-transform: rotate(300deg) translate(0, -110px) scale(1, 6);
            transform: rotate(300deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(300deg) translate(0, -110px) scale(1, 6);
            transform: rotate(300deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-10 {
  60% {
    -webkit-transform: rotate(300deg) translate(0, -110px) scale(1, 6);
            transform: rotate(300deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(300deg) translate(0, -110px) scale(1, 6);
            transform: rotate(300deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-11 {
  60% {
    -webkit-transform: rotate(330deg) translate(0, -110px) scale(1, 6);
            transform: rotate(330deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(330deg) translate(0, -110px) scale(1, 6);
            transform: rotate(330deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-11 {
  60% {
    -webkit-transform: rotate(330deg) translate(0, -110px) scale(1, 6);
            transform: rotate(330deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(330deg) translate(0, -110px) scale(1, 6);
            transform: rotate(330deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@-webkit-keyframes animate-line-12 {
  60% {
    -webkit-transform: rotate(360deg) translate(0, -110px) scale(1, 6);
            transform: rotate(360deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg) translate(0, -110px) scale(1, 6);
            transform: rotate(360deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
@keyframes animate-line-12 {
  60% {
    -webkit-transform: rotate(360deg) translate(0, -110px) scale(1, 6);
            transform: rotate(360deg) translate(0, -110px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg) translate(0, -110px) scale(1, 6);
            transform: rotate(360deg) translate(0, -110px) scale(1, 6);
    opacity: 0;
  }
}
.fill.active {
  -webkit-animation: rotate-ball 1s;
          animation: rotate-ball 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.disk.active {
  -webkit-animation: increase-disk 1s;
          animation: increase-disk 1s;
}

.line:nth-child(1).active {
  -webkit-animation: animate-line-1 1s;
          animation: animate-line-1 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(2).active {
  -webkit-animation: animate-line-2 1s;
          animation: animate-line-2 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(3).active {
  -webkit-animation: animate-line-3 1s;
          animation: animate-line-3 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(4).active {
  -webkit-animation: animate-line-4 1s;
          animation: animate-line-4 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(5).active {
  -webkit-animation: animate-line-5 1s;
          animation: animate-line-5 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(6).active {
  -webkit-animation: animate-line-6 1s;
          animation: animate-line-6 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(7).active {
  -webkit-animation: animate-line-7 1s;
          animation: animate-line-7 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(8).active {
  -webkit-animation: animate-line-8 1s;
          animation: animate-line-8 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(9).active {
  -webkit-animation: animate-line-9 1s;
          animation: animate-line-9 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(10).active {
  -webkit-animation: animate-line-10 1s;
          animation: animate-line-10 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(11).active {
  -webkit-animation: animate-line-11 1s;
          animation: animate-line-11 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(12).active {
  -webkit-animation: animate-line-12 1s;
          animation: animate-line-12 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.shadow.active {
  -webkit-animation: increase-shadow 1s;
          animation: increase-shadow 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fill.deactive {
  -webkit-animation: rotate-rect 1s;
          animation: rotate-rect 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.disk.deactive {
  -webkit-animation: reduce-disk 1s;
          animation: reduce-disk 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.line:nth-child(1).deactive {
  -webkit-animation: reduce-line-1 1s;
          animation: reduce-line-1 1s;
}

.line:nth-child(2).deactive {
  -webkit-animation: reduce-line-2 1s;
          animation: reduce-line-2 1s;
}

.line:nth-child(3).deactive {
  -webkit-animation: reduce-line-3 1s;
          animation: reduce-line-3 1s;
}

.line:nth-child(4).deactive {
  -webkit-animation: reduce-line-4 1s;
          animation: reduce-line-4 1s;
}

.line:nth-child(5).deactive {
  -webkit-animation: reduce-line-5 1s;
          animation: reduce-line-5 1s;
}

.line:nth-child(6).deactive {
  -webkit-animation: reduce-line-6 1s;
          animation: reduce-line-6 1s;
}

.line:nth-child(7).deactive {
  -webkit-animation: reduce-line-7 1s;
          animation: reduce-line-7 1s;
}

.line:nth-child(8).deactive {
  -webkit-animation: reduce-line-8 1s;
          animation: reduce-line-8 1s;
}

.line:nth-child(9).deactive {
  -webkit-animation: reduce-line-9 1s;
          animation: reduce-line-9 1s;
}

.line:nth-child(10).deactive {
  -webkit-animation: reduce-line-10 1s;
          animation: reduce-line-10 1s;
}

.line:nth-child(11).deactive {
  -webkit-animation: reduce-line-11 1s;
          animation: reduce-line-11 1s;
}

.line:nth-child(12).deactive {
  -webkit-animation: reduce-line-12 1s;
          animation: reduce-line-12 1s;
}

.shadow.deactive {
  -webkit-animation: reduce-shadow 1s;
          animation: reduce-shadow 1s;
}

@-webkit-keyframes rotate-rect {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-radius: 0%;
  }
  80%, 100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    border-radius: 50%;
  }
}

@keyframes rotate-rect {
  0% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    border-radius: 0%;
  }
  80%, 100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    border-radius: 50%;
  }
}
@-webkit-keyframes reduce-disk {
  0% {
    width: 160px;
    height: 160px;
    top: -80px;
    left: -80px;
  }
  60% {
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    opacity: 1;
  }
  75%, 100% {
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    opacity: 0;
  }
}
@keyframes reduce-disk {
  0% {
    width: 160px;
    height: 160px;
    top: -80px;
    left: -80px;
  }
  60% {
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    opacity: 1;
  }
  75%, 100% {
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px;
    opacity: 0;
  }
}
@-webkit-keyframes reduce-shadow {
  0% {
    -webkit-transform: scale(20);
            transform: scale(20);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #66DD76;
  }
}
@keyframes reduce-shadow {
  0% {
    -webkit-transform: scale(20);
            transform: scale(20);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background: #66DD76;
  }
}
@-webkit-keyframes reduce-line-1 {
  0% {
    -webkit-transform: rotate(30deg) translate(0, -110px) scale(1, 6);
            transform: rotate(30deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(30deg) translate(0, 0px) scale(1, 6);
            transform: rotate(30deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(30deg) translate(0, 0px) scale(1);
            transform: rotate(30deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-1 {
  0% {
    -webkit-transform: rotate(30deg) translate(0, -110px) scale(1, 6);
            transform: rotate(30deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(30deg) translate(0, 0px) scale(1, 6);
            transform: rotate(30deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(30deg) translate(0, 0px) scale(1);
            transform: rotate(30deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-2 {
  0% {
    -webkit-transform: rotate(60deg) translate(0, -110px) scale(1, 6);
            transform: rotate(60deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(60deg) translate(0, 0px) scale(1, 6);
            transform: rotate(60deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(60deg) translate(0, 0px) scale(1);
            transform: rotate(60deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-2 {
  0% {
    -webkit-transform: rotate(60deg) translate(0, -110px) scale(1, 6);
            transform: rotate(60deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(60deg) translate(0, 0px) scale(1, 6);
            transform: rotate(60deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(60deg) translate(0, 0px) scale(1);
            transform: rotate(60deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-3 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, -110px) scale(1, 6);
            transform: rotate(90deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(90deg) translate(0, 0px) scale(1, 6);
            transform: rotate(90deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(90deg) translate(0, 0px) scale(1);
            transform: rotate(90deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-3 {
  0% {
    -webkit-transform: rotate(90deg) translate(0, -110px) scale(1, 6);
            transform: rotate(90deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(90deg) translate(0, 0px) scale(1, 6);
            transform: rotate(90deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(90deg) translate(0, 0px) scale(1);
            transform: rotate(90deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-4 {
  0% {
    -webkit-transform: rotate(120deg) translate(0, -110px) scale(1, 6);
            transform: rotate(120deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(120deg) translate(0, 0px) scale(1, 6);
            transform: rotate(120deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(120deg) translate(0, 0px) scale(1);
            transform: rotate(120deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-4 {
  0% {
    -webkit-transform: rotate(120deg) translate(0, -110px) scale(1, 6);
            transform: rotate(120deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(120deg) translate(0, 0px) scale(1, 6);
            transform: rotate(120deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(120deg) translate(0, 0px) scale(1);
            transform: rotate(120deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-5 {
  0% {
    -webkit-transform: rotate(150deg) translate(0, -110px) scale(1, 6);
            transform: rotate(150deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(150deg) translate(0, 0px) scale(1, 6);
            transform: rotate(150deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(150deg) translate(0, 0px) scale(1);
            transform: rotate(150deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-5 {
  0% {
    -webkit-transform: rotate(150deg) translate(0, -110px) scale(1, 6);
            transform: rotate(150deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(150deg) translate(0, 0px) scale(1, 6);
            transform: rotate(150deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(150deg) translate(0, 0px) scale(1);
            transform: rotate(150deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-6 {
  0% {
    -webkit-transform: rotate(180deg) translate(0, -110px) scale(1, 6);
            transform: rotate(180deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(180deg) translate(0, 0px) scale(1, 6);
            transform: rotate(180deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(180deg) translate(0, 0px) scale(1);
            transform: rotate(180deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-6 {
  0% {
    -webkit-transform: rotate(180deg) translate(0, -110px) scale(1, 6);
            transform: rotate(180deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(180deg) translate(0, 0px) scale(1, 6);
            transform: rotate(180deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(180deg) translate(0, 0px) scale(1);
            transform: rotate(180deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-7 {
  0% {
    -webkit-transform: rotate(210deg) translate(0, -110px) scale(1, 6);
            transform: rotate(210deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(210deg) translate(0, 0px) scale(1, 6);
            transform: rotate(210deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(210deg) translate(0, 0px) scale(1);
            transform: rotate(210deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-7 {
  0% {
    -webkit-transform: rotate(210deg) translate(0, -110px) scale(1, 6);
            transform: rotate(210deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(210deg) translate(0, 0px) scale(1, 6);
            transform: rotate(210deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(210deg) translate(0, 0px) scale(1);
            transform: rotate(210deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-8 {
  0% {
    -webkit-transform: rotate(240deg) translate(0, -110px) scale(1, 6);
            transform: rotate(240deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(240deg) translate(0, 0px) scale(1, 6);
            transform: rotate(240deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(240deg) translate(0, 0px) scale(1);
            transform: rotate(240deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-8 {
  0% {
    -webkit-transform: rotate(240deg) translate(0, -110px) scale(1, 6);
            transform: rotate(240deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(240deg) translate(0, 0px) scale(1, 6);
            transform: rotate(240deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(240deg) translate(0, 0px) scale(1);
            transform: rotate(240deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-9 {
  0% {
    -webkit-transform: rotate(270deg) translate(0, -110px) scale(1, 6);
            transform: rotate(270deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(270deg) translate(0, 0px) scale(1, 6);
            transform: rotate(270deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(270deg) translate(0, 0px) scale(1);
            transform: rotate(270deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-9 {
  0% {
    -webkit-transform: rotate(270deg) translate(0, -110px) scale(1, 6);
            transform: rotate(270deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(270deg) translate(0, 0px) scale(1, 6);
            transform: rotate(270deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(270deg) translate(0, 0px) scale(1);
            transform: rotate(270deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-10 {
  0% {
    -webkit-transform: rotate(300deg) translate(0, -110px) scale(1, 6);
            transform: rotate(300deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(300deg) translate(0, 0px) scale(1, 6);
            transform: rotate(300deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(300deg) translate(0, 0px) scale(1);
            transform: rotate(300deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-10 {
  0% {
    -webkit-transform: rotate(300deg) translate(0, -110px) scale(1, 6);
            transform: rotate(300deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(300deg) translate(0, 0px) scale(1, 6);
            transform: rotate(300deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(300deg) translate(0, 0px) scale(1);
            transform: rotate(300deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-11 {
  0% {
    -webkit-transform: rotate(330deg) translate(0, -110px) scale(1, 6);
            transform: rotate(330deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(330deg) translate(0, 0px) scale(1, 6);
            transform: rotate(330deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(330deg) translate(0, 0px) scale(1);
            transform: rotate(330deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-11 {
  0% {
    -webkit-transform: rotate(330deg) translate(0, -110px) scale(1, 6);
            transform: rotate(330deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(330deg) translate(0, 0px) scale(1, 6);
            transform: rotate(330deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(330deg) translate(0, 0px) scale(1);
            transform: rotate(330deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes reduce-line-12 {
  0% {
    -webkit-transform: rotate(360deg) translate(0, -110px) scale(1, 6);
            transform: rotate(360deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(360deg) translate(0, 0px) scale(1, 6);
            transform: rotate(360deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg) translate(0, 0px) scale(1);
            transform: rotate(360deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
@keyframes reduce-line-12 {
  0% {
    -webkit-transform: rotate(360deg) translate(0, -110px) scale(1, 6);
            transform: rotate(360deg) translate(0, -110px) scale(1, 6);
    opacity: 1;
  }
  60% {
    -webkit-transform: rotate(360deg) translate(0, 0px) scale(1, 6);
            transform: rotate(360deg) translate(0, 0px) scale(1, 6);
  }
  75%, 100% {
    -webkit-transform: rotate(360deg) translate(0, 0px) scale(1);
            transform: rotate(360deg) translate(0, 0px) scale(1);
    opacity: 0;
  }
}
