// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	display: flex;
}

.line {
	background: #884488;
	cursor: pointer;
	display: flex;
  align-items: center;
  justify-content: center;
	color: #FFF;
	font-size: 2em;
	font-weight: bold;
	width: 25%;
	transition: width 0.5s;
}

.line:nth-child(even) {
	background: #FFC107;
}

.line:nth-child(n+1):hover {
	width: 150%;
}

.line:nth-child(1):hover::after{
	content: 'FIRST';
}

.line:nth-child(2):hover::after{
	content: 'SECOND';
}

.line:nth-child(3):hover::after{
	content: 'THIRD';
}

.line:nth-child(4):hover::after{
	content: 'FOURTH';
}