@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #555;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 20%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clock {
  width: 220px;
  height: 220px;
  box-sizing: border-box;
  border: 10px solid #444;
  border-radius: 50%;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  position: absolute;
}

.day, .info {
  font-size: 0.8em;
  text-transorm: uppercase;
}

.time {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 0 0 5px #FFF;
}

.heart:before {
  content: " \2665";
  font-size: 1.1em;
  display: inline-block;
  margin-right: 3px;
  -webkit-animation: scale-heart 1s infinite linear;
          animation: scale-heart 1s infinite linear;
}

@-webkit-keyframes scale-heart {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #DC143C;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #FD648C;
  }
}

@keyframes scale-heart {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: #DC143C;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #FD648C;
  }
}
.info span:first-child {
  padding-right: 8px;
}

svg {
  position: absolute;
  z-index: 10;
  -webkit-transform: rotateX(-180deg) rotateZ(90deg);
          transform: rotateX(-180deg) rotateZ(90deg);
}

circle {
  stroke: #FFF;
  stroke-width: 3;
  stroke-linecap: round;
}

.filling {
  stroke: #DC143C;
  stroke-dasharray: 600;
  -webkit-animation: fill-ring 6s linear infinite;
          animation: fill-ring 6s linear infinite;
}

@-webkit-keyframes fill-ring {
  0% {
    stroke-dashoffset: -600;
  }
  100% {
    stroke-dashoffset: 600;
  }
}

@keyframes fill-ring {
  0% {
    stroke-dashoffset: -600;
  }
  100% {
    stroke-dashoffset: 600;
  }
}
