// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #223355;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.triangle.first {
	fill: #999AFF;
	animation: show-inside-1 3s infinite;
}

.triangle.second {
	fill: #99BBFF;
	animation: show-inside-2 3s infinite;
}

.triangle.third {
	fill: #99AAFF;
	animation: show-inside-3 3s infinite;
}

.triangle.fourth {
	fill: #998AFF;
	animation: show-inside-4 3s infinite;
}

.triangle, rect, circle {
	animation-timing-function: ease-out;
}

$triangle-offset-x: (-170px, 0, 170px, 0);
$triangle-offset-y: (0, -170px, 0, 170px);

@for $i from 1 to 5 {
	@keyframes show-inside-#{$i} {
		0%, 80%, 100% {
			transform: translate(0)
		}

		40%, 50% {
			transform: translate(unquote(nth($triangle-offset-x, $i)), unquote(nth($triangle-offset-y, $i)))
		}
	}
}

$fill-colors: (orange, yellow, pink, #69f0ae, #00e2ff);
	
@for $i from 1 to 6 {
	rect:nth-child(#{$i}) {
		fill:  unquote(nth($fill-colors, $i));
		animation: move-rect-#{$i} 3s infinite;
		transform-origin: center center;
	}
}

$x-offset-rect: (-90px, 15px, -40px, 40px, -30px);
$y-offset-rect: (-50px, 30px, -30px, 30px, 60px);
$angles-rect: (20deg, -45deg, -65deg, -85deg, 65deg);

@for $i from 1 to 6 {
	@keyframes move-rect-#{$i} {
		0%, 80%, 100% {
			transform: scale(0) translate(0)
		}

		40%, 50% {
			transform: scale(1) translate(unquote(nth($x-offset-rect, $i)), unquote(nth($y-offset-rect, $i))) rotateZ(unquote(nth($angles-rect, $i)))
		}
	}
}

@for $i from 1 to 6 {
	circle:nth-child(#{$i + 5}) {
		stroke:  unquote(nth($fill-colors, $i));
		stroke-width: 3;
		fill: none;
		animation: move-circle-#{$i} 3s infinite;
		transform-origin: center center;
	}
}

$x-offset-circle: (-60px, 15px, -40px, 50px, 60px);
$y-offset-circle: (60px, -30px, -50px, -100px, 80px);

@for $i from 1 to 6 {
	@keyframes move-circle-#{$i} {
		0%, 80%, 100% {
			transform:  scale(0) translate(0)
		}

		40%, 50% {
			transform: scale(1) translate(unquote(nth($x-offset-circle, $i)), unquote(nth($y-offset-circle, $i)))
		}
	}
}