// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.widget {
  display: grid;
	grid-template-rows: 300px auto;
}

svg {
	position: relative;
	background: #222344;
	z-index: 1;
}

.info {
	display: grid;
	grid-template-columns: 26% 40% 30%;
	height: 100px;
}

.info > div {
	display: flex;
	justify-content: center;
}

.celsius {
	font-size: 3em;
	align-items: center;
}

.additional, .metcast {
	flex-direction: column;
	font-size: 0.9em;
}

.additional {
	align-items: start;
}

.metcast {
		align-items: end;
}

.additional > div, .metcast > div {
	padding: 4px;
}

.metcast b {
	font-size: 1.1em;
}

.dark {
	fill: #28285c;
}

.light {
	fill: #383872;
}

.moon {
	fill: #f9f4cb;
	filter: drop-shadow( 0 0 5px rgba(249, 244, 203, 1));
}

.crater {
	fill: #E7E3B7;
}

#moon {
	animation: 2s raise;
	animation-fill-mode: forwards;
}

@keyframes raise {
	from {
		transform: translate(-280px, 80px)
	}
	to {
		transform: translate(-280px, 80px) rotate(-35deg)
	}
}

.rain {
	width: 400px;
	height: 300px;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.drop {
	width: 8px;
	height: 16px;
	border-radius: 16px 0 8px 8px / 14px 0 8px 8px;
	background: #58c0dd;
	position: absolute;
	top: -16px;
}

.drop:nth-child(even) {
	animation: rain-front 1.2s linear infinite
}

.drop:nth-child(odd) {
	animation: rain-back 1s linear infinite;
	transform: scale(0.6);
}

@for $i from 1 to 36 {
	.drop:nth-child(#{$i}) {
		animation-delay: 0.131s * $i;
	}
} 

@keyframes rain-front {
	80% {
		transform: translateY(300px) scale(1, 0.8);;
		opacity: 1;
	}
	90%, 95% {
		border-radius: 50%;
		transform: translateY(304px) scale(2, 0.2);
	}
	100% {
		transform: translateY(304px) scaleY(0);
		opacity: 0;
	}
}

@keyframes rain-back {	
	80%, 100% {
		transform: translateY(304px);
		opacity: 0;
	}
}