@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: tomato;
  color: #FFF;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sphere {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 200px;
  height: 200px;
  -webkit-animation: rotate 5s infinite;
          animation: rotate 5s infinite;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
}

.circle:nth-child(0) {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.circle:nth-child(1) {
  -webkit-transform: rotateY(30deg);
          transform: rotateY(30deg);
}

.circle:nth-child(2) {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
}

.circle:nth-child(3) {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.circle:nth-child(4) {
  -webkit-transform: rotateY(120deg);
          transform: rotateY(120deg);
}

.circle:nth-child(5) {
  -webkit-transform: rotateY(150deg);
          transform: rotateY(150deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  20% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  40% {
    -webkit-transform: rotateX(60deg) rotateY(60deg);
            transform: rotateX(60deg) rotateY(60deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateZ(60deg) rotateX(90deg);
            transform: rotateX(90deg) rotateZ(60deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg);
            transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg);
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0) rotateZ(0);
            transform: rotateY(0) rotateX(0) rotateZ(0);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  20% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  40% {
    -webkit-transform: rotateX(60deg) rotateY(60deg);
            transform: rotateX(60deg) rotateY(60deg);
  }
  60% {
    -webkit-transform: rotateX(90deg) rotateZ(60deg) rotateX(90deg);
            transform: rotateX(90deg) rotateZ(60deg) rotateX(90deg);
  }
  80% {
    -webkit-transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg);
            transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg);
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0) rotateZ(0);
            transform: rotateY(0) rotateX(0) rotateZ(0);
  }
}
