@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #1E3244;
  color: #444;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container {
  display: flex;
}

.notifications {
  width: 300px;
  height: 20em;
  background: #fafafa;
  border-radius: 3px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 60px auto;
}

.header {
  background: #4682B4;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
  margin: 5px;
}

.menu-btn line {
  stroke: #B3E5FC;
  stroke-linecap: round;
  stroke-width: 4;
}

.menu-btn circle {
  fill: #B3E5FC;
}

.menu-btn:hover line {
  stroke: #FFF;
}

.menu-btn:hover circle {
  fill: #FFF;
}

h3 {
  color: #FFF;
  font-weight: 550;
  font-size: 1em;
}

.feeds {
  margin-left: 40px;
  border-left: 4px solid #ECECEC;
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: "\25CE";
  color: #4682B4;
  display: inline-block;
  width: 1em;
  margin-left: -9px;
}

.time {
  font-transform: uppercase;
  font-size: 0.7em;
}

.post {
  margin: 0 15px;
  font-size: 0.9em;
}

ul li {
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-transform: translateY(20em);
          transform: translateY(20em);
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  transition-delay: 0.5s;
}

li:nth-child(1) {
  transition-delay: 0.4s;
}

li:nth-child(2) {
  transition-delay: 0.8s;
}

li:nth-child(3) {
  transition-delay: 1.2s;
}

ul li:hover {
  color: #4682B4;
}

ul li.show {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.menu {
  box-sizing: border-box;
  width: 0px;
  padding: 10px 0;
  margin-left: 50px;
  background: #3D586F;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  height: 90%;
  transition: width 1s;
}

.menu-item {
  padding: 16px 15px;
  color: #B3E5FC;
  cursor: pointer;
}

.menu-item:hover {
  background: #39516B;
  color: #FFF;
}

.active {
  font-weight: 600;
  background: #435B73;
}

.menu.show {
  width: 180px;
}
