// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #dcffdc;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.branch {
	stroke : #eeed82;
	stroke-width: 5;
	stroke-linecap: round;
	transform-origin: center bottom;
	animation: increase-branch 1s;
}

@keyframes increase-branch {
	0% {
		transform: scaleY(0)
	}
	80%, 100% {
		transform: scaleY(1)
	}
	90% {
		transform: scaleY(0.9)
	}
}

.crown {
	transform: scaleX(0);
	animation: increase-crown 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards
}

.dark {
	fill: #990000;
	transform-origin: center bottom;
}

.light {
	fill: #CC0000;
	transform-origin: center bottom;
}

@keyframes increase-crown {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1.0);
	}
}