// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #00BB99;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	display: grid;
	grid-template-columns: repeat(10, 40px);
	grid-template-rows: repeat(10, 40px);
}

.block {
	display: flex;
	justify-content: center;
	align-content: center;
}

.side {
	background: #FFF;
	width: 10px;
	height: 40px;
	position: absolute;
	transform-origin: center center;
}

.side:first-child {
	transform: rotateZ(45deg);
	animation: move-one 5s infinite;
}

.side:nth-child(2) {
	transform: rotateZ(-45deg);
	animation: move-two 5s infinite;
}


@keyframes move-one {
	20% {
		transform: rotateZ(135deg);
	}
	40% {
		transform: translate(-22px, -22px) rotateZ(135deg) 
	}
	60% {
		transform: rotateZ(90deg) scale(2.0, 0.5)
	}
	80% {
		transform: rotateZ(0deg) scale(1.0)
	}
}

@keyframes move-two {
	20%, 40% {
		transform: rotateZ(45deg)
	}
	60% {
		transform: rotateZ(45deg) scale(2.0, 0.5)
	}
	80% {
		transform: rotateZ(-90deg) scale(1)
	}
}