// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #223;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.world {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #75DAFF;
	clip-path: circle(50%);
}

.world:after {
	content: "";
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 0;
	background: rgba(0, 0, 0, 0);
	z-index: 10;
	animation: night 5s infinite;
}

.world:before {
	content: "";
	position: absolute;
	width: 200px;
	height: 70px;
	bottom: 0;
	background: #F8DE7E;
	z-index: 1;
}

.pyramid {
	width: 0; 
	height: 0; 
	position: absolute;
	bottom: 70px;
	z-index: 3;
}

.shadow {
	border-left: 150px solid transparent; 
	border-right: 0px solid transparent; 
	border-top: 30px solid #AAA;
	right: 20px;
	bottom: 40px;
	animation: shadow-moving 5s infinite;
}

.left {
	border-left: 60px solid transparent; 
	border-right: 30px solid transparent; 
	border-bottom: 60px solid #EDEDED;
	right: 80px;
	animation: shadow-left 5s infinite;
}

@keyframes shadow-left {
	20%, 30%, 50% {
		border-bottom: 60px solid #EDEDED;
	}
	80%, 90% {
		border-bottom: 60px solid #CDCDCD;
	}
}

@keyframes shadow-moving {
	20% {
		border-left: 150px solid transparent; 
		border-right: 0px solid transparent; 
	}
	80%, 90%, 100% {
		border-left: 0px solid transparent; 
		border-right: 150px solid transparent; 
	}
}

.right {
	border-left: 0px solid transparent; 
	border-right: 90px solid transparent; 
	border-bottom: 60px solid #DDD;
	right: 20px;
	animation: shadow-right 5s infinite;
}

@keyframes shadow-right {
	20%, 30% {
		border-bottom: 60px solid #CDCDCD;
	}
  80%, 90% {
		border-bottom: 60px solid #EDEDED;
	}
}

.sun {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: yellow;
	position: absolute;
	top:  110px;
	left: 90px;
	animation: sun-moving 5s infinite linear;
}

@keyframes sun-moving {
	0% {
		transform: rotateZ(0) translateX(-120px)
	}
	20%, 25% {
		transform: rotateZ(45deg) translateX(-100px)
	}
	
	80%, 90%, 100% {
		transform: rotateZ(180deg) translateX(-110px) 
	}
}

@keyframes night {
	0%, 80% {
		background: rgba(0, 0, 0, 0)
	}
	100% {
		background: rgba(0, 0, 0, 0.9)
	}
}