@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #445566;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  -webkit-perspective: 1200px;
          perspective: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 120px;
  -webkit-transform: rotateX(-20deg) rotateY(30deg);
          transform: rotateX(-20deg) rotateY(30deg);
}

.side {
  background: rgba(30, 30, 50, 0.3);
  height: 120px;
  width: 120px;
  position: absolute;
}

.front {
  -webkit-transform: translateZ(60px);
          transform: translateZ(60px);
}

.right {
  -webkit-transform: rotateY(90deg) translateZ(60px);
          transform: rotateY(90deg) translateZ(60px);
}

.left {
  -webkit-transform: rotateY(-90deg) translateZ(60px);
          transform: rotateY(-90deg) translateZ(60px);
}

.back {
  -webkit-transform: rotateY(-180deg) translateZ(60px);
          transform: rotateY(-180deg) translateZ(60px);
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
          transform: rotateX(-90deg) translateZ(60px);
  background: #90EE90;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

.green {
  background: #90EE90;
  bottom: -120px;
  -webkit-animation: fill 3s linear infinite;
          animation: fill 3s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes fill {
  0%, 20% {
    height: 0;
  }
  80%, 100% {
    height: 120px;
  }
}

@keyframes fill {
  0%, 20% {
    height: 0;
  }
  80%, 100% {
    height: 120px;
  }
}
