@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(45deg, rgba(255, 105, 180, 0.9), rgba(255, 105, 180, 0.1)), url("https://images.pexels.com/photos/1389429/pexels-photo-1389429.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.frame:after {
  content: "image from pexels.com";
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.line {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #FFF;
  top: 150px;
  box-sizing: border-box;
  border-radius: 50%;
  border: none;
  z-index: 2;
}

.left {
  -webkit-animation: move-left 4s;
          animation: move-left 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  left: 150px;
}

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border: none;
    border-radius: 50%;
  }
  20% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    border-radius: 0;
  }
  40% {
    -webkit-transform: translateX(-120px) scale(2.5, 0.05);
            transform: translateX(-120px) scale(2.5, 0.05);
    border-radius: 0;
    background: #FFF;
    border: none;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  50% {
    -webkit-transform: translateX(-130px) scale(0.05);
            transform: translateX(-130px) scale(0.05);
    border-radius: 0;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  60% {
    -webkit-transform: translateX(-130px) scale(0.05, 1);
            transform: translateX(-130px) scale(0.05, 1);
    border-radius: 0;
    background: #FFF;
    border: 5px solid #fff;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  70%, 100% {
    -webkit-transform: translateX(-130px) scale(0.25, 1);
            transform: translateX(-130px) scale(0.25, 1);
    border-radius: 0;
    background: none;
    border: 5px solid #fff;
    border-left: 20px solid #fff;
    border-right: none;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
}

@keyframes move-left {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border: none;
    border-radius: 50%;
  }
  20% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    border-radius: 0;
  }
  40% {
    -webkit-transform: translateX(-120px) scale(2.5, 0.05);
            transform: translateX(-120px) scale(2.5, 0.05);
    border-radius: 0;
    background: #FFF;
    border: none;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  50% {
    -webkit-transform: translateX(-130px) scale(0.05);
            transform: translateX(-130px) scale(0.05);
    border-radius: 0;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  60% {
    -webkit-transform: translateX(-130px) scale(0.05, 1);
            transform: translateX(-130px) scale(0.05, 1);
    border-radius: 0;
    background: #FFF;
    border: 5px solid #fff;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
  70%, 100% {
    -webkit-transform: translateX(-130px) scale(0.25, 1);
            transform: translateX(-130px) scale(0.25, 1);
    border-radius: 0;
    background: none;
    border: 5px solid #fff;
    border-left: 20px solid #fff;
    border-right: none;
    -webkit-transform-origin: left center;
            transform-origin: left center;
  }
}
.right {
  -webkit-animation: move-right 4s;
          animation: move-right 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  right: 150px;
}

@-webkit-keyframes move-right {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border: none;
    border-radius: 50%;
  }
  20% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    border-radius: 0;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  40% {
    -webkit-transform: translateX(120px) scale(2.5, 0.05);
            transform: translateX(120px) scale(2.5, 0.05);
    border-radius: 0;
    background: #FFF;
    border: none;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  50% {
    -webkit-transform: translateX(130px) scale(0.05);
            transform: translateX(130px) scale(0.05);
    border-radius: 0;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  60% {
    -webkit-transform: translateX(130px) scale(0.05, 1);
            transform: translateX(130px) scale(0.05, 1);
    border-radius: 0;
    background: #FFF;
    border: 5px solid #fff;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  70%, 100% {
    -webkit-transform: translateX(130px) scale(0.25, 1);
            transform: translateX(130px) scale(0.25, 1);
    border-radius: 0;
    background: none;
    border: 5px solid #fff;
    border-right: 20px solid #fff;
    border-left: none;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}

@keyframes move-right {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  10% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border: none;
    border-radius: 50%;
  }
  20% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    border-radius: 0;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  40% {
    -webkit-transform: translateX(120px) scale(2.5, 0.05);
            transform: translateX(120px) scale(2.5, 0.05);
    border-radius: 0;
    background: #FFF;
    border: none;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  50% {
    -webkit-transform: translateX(130px) scale(0.05);
            transform: translateX(130px) scale(0.05);
    border-radius: 0;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  60% {
    -webkit-transform: translateX(130px) scale(0.05, 1);
            transform: translateX(130px) scale(0.05, 1);
    border-radius: 0;
    background: #FFF;
    border: 5px solid #fff;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
  70%, 100% {
    -webkit-transform: translateX(130px) scale(0.25, 1);
            transform: translateX(130px) scale(0.25, 1);
    border-radius: 0;
    background: none;
    border: 5px solid #fff;
    border-right: 20px solid #fff;
    border-left: none;
    -webkit-transform-origin: right center;
            transform-origin: right center;
  }
}
.back {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 120px;
  left: 50px;
  font-size: 2em;
  z-index: 1;
  line-height: 1.7em;
}

.text p {
  margin: 0;
  letter-spacing: -2px;
  text-align: center;
  color: #FFF;
}

.text p:nth-child(2) {
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.8);
}

.text {
  height: 0;
  overflow: hidden;
  -webkit-animation: show-text 4s;
          animation: show-text 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show-text {
  50% {
    height: 0;
  }
  95%, 100% {
    height: 200px;
  }
}

@keyframes show-text {
  50% {
    height: 0;
  }
  95%, 100% {
    height: 200px;
  }
}
