@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  background-color: #333;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 1, 0, 0.1);
  overflow: hidden;
  background: #afe;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#shield {
  background: #9de;
  width: 100%;
  position: relative;
  display: block;
  overflow-y: hidden;
}

#shield .center {
  color: transparent;
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}
