@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #2A2A40;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

svg:hover {
  cursor: pointer;
}

svg:hover text {
  fill: #fff;
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
}

.bottom {
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.top, text {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

svg:hover .bottom {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
  fill: #f2f2f2;
}

svg:hover .top {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  fill: #663399;
}
