@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #55AA55;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
}

.ball {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: radial-gradient(circle at 65% 15%, yellow, orange);
}

.ball:nth-child(1) {
  -webkit-animation: move-ball-1 infinite linear;
          animation: move-ball-1 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 5px;
  left: 25px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(2) {
  -webkit-animation: move-ball-2 infinite linear;
          animation: move-ball-2 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 5px;
  left: 185px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(3) {
  -webkit-animation: move-ball-3 infinite linear;
          animation: move-ball-3 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 5px;
  left: 205px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(4) {
  -webkit-animation: move-ball-4 infinite linear;
          animation: move-ball-4 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 5px;
  left: 365px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(5) {
  -webkit-animation: move-ball-5 infinite linear;
          animation: move-ball-5 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 25px;
  left: 5px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(6) {
  -webkit-animation: move-ball-6 infinite linear;
          animation: move-ball-6 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 25px;
  left: 380px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(7) {
  -webkit-animation: move-ball-7 infinite linear;
          animation: move-ball-7 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 185px;
  left: 5px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(8) {
  -webkit-animation: move-ball-8 infinite linear;
          animation: move-ball-8 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 185px;
  left: 380px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(9) {
  -webkit-animation: move-ball-9 infinite linear;
          animation: move-ball-9 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 205px;
  left: 5px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(10) {
  -webkit-animation: move-ball-10 infinite linear;
          animation: move-ball-10 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 205px;
  left: 380px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(11) {
  -webkit-animation: move-ball-11 infinite linear;
          animation: move-ball-11 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 365px;
  left: 5px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(12) {
  -webkit-animation: move-ball-12 infinite linear;
          animation: move-ball-12 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 365px;
  left: 380px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(13) {
  -webkit-animation: move-ball-13 infinite linear;
          animation: move-ball-13 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 380px;
  left: 25px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(14) {
  -webkit-animation: move-ball-14 infinite linear;
          animation: move-ball-14 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 380px;
  left: 185px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(15) {
  -webkit-animation: move-ball-15 infinite linear;
          animation: move-ball-15 infinite linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  top: 380px;
  left: 205px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.ball:nth-child(16) {
  -webkit-animation: move-ball-16 infinite linear;
          animation: move-ball-16 infinite linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  top: 380px;
  left: 365px;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes move-ball-1 {
  to {
    -webkit-transform: translate(355px, 180px);
            transform: translate(355px, 180px);
  }
}

@keyframes move-ball-1 {
  to {
    -webkit-transform: translate(355px, 180px);
            transform: translate(355px, 180px);
  }
}
@-webkit-keyframes move-ball-2 {
  to {
    -webkit-transform: translate(-180px, 180px);
            transform: translate(-180px, 180px);
  }
}
@keyframes move-ball-2 {
  to {
    -webkit-transform: translate(-180px, 180px);
            transform: translate(-180px, 180px);
  }
}
@-webkit-keyframes move-ball-3 {
  to {
    -webkit-transform: translate(180px, 180px);
            transform: translate(180px, 180px);
  }
}
@keyframes move-ball-3 {
  to {
    -webkit-transform: translate(180px, 180px);
            transform: translate(180px, 180px);
  }
}
@-webkit-keyframes move-ball-4 {
  to {
    -webkit-transform: translate(-355px, 180px);
            transform: translate(-355px, 180px);
  }
}
@keyframes move-ball-4 {
  to {
    -webkit-transform: translate(-355px, 180px);
            transform: translate(-355px, 180px);
  }
}
@-webkit-keyframes move-ball-5 {
  to {
    -webkit-transform: translate(175px, 355px);
            transform: translate(175px, 355px);
  }
}
@keyframes move-ball-5 {
  to {
    -webkit-transform: translate(175px, 355px);
            transform: translate(175px, 355px);
  }
}
@-webkit-keyframes move-ball-6 {
  to {
    -webkit-transform: translate(-175px, 355px);
            transform: translate(-175px, 355px);
  }
}
@keyframes move-ball-6 {
  to {
    -webkit-transform: translate(-175px, 355px);
            transform: translate(-175px, 355px);
  }
}
@-webkit-keyframes move-ball-7 {
  to {
    -webkit-transform: translate(180px, -180px);
            transform: translate(180px, -180px);
  }
}
@keyframes move-ball-7 {
  to {
    -webkit-transform: translate(180px, -180px);
            transform: translate(180px, -180px);
  }
}
@-webkit-keyframes move-ball-8 {
  to {
    -webkit-transform: translate(-180px, -180px);
            transform: translate(-180px, -180px);
  }
}
@keyframes move-ball-8 {
  to {
    -webkit-transform: translate(-180px, -180px);
            transform: translate(-180px, -180px);
  }
}
@-webkit-keyframes move-ball-9 {
  to {
    -webkit-transform: translate(180px, 180px);
            transform: translate(180px, 180px);
  }
}
@keyframes move-ball-9 {
  to {
    -webkit-transform: translate(180px, 180px);
            transform: translate(180px, 180px);
  }
}
@-webkit-keyframes move-ball-10 {
  to {
    -webkit-transform: translate(-180px, 180px);
            transform: translate(-180px, 180px);
  }
}
@keyframes move-ball-10 {
  to {
    -webkit-transform: translate(-180px, 180px);
            transform: translate(-180px, 180px);
  }
}
@-webkit-keyframes move-ball-11 {
  to {
    -webkit-transform: translate(175px, -355px);
            transform: translate(175px, -355px);
  }
}
@keyframes move-ball-11 {
  to {
    -webkit-transform: translate(175px, -355px);
            transform: translate(175px, -355px);
  }
}
@-webkit-keyframes move-ball-12 {
  to {
    -webkit-transform: translate(-175px, -355px);
            transform: translate(-175px, -355px);
  }
}
@keyframes move-ball-12 {
  to {
    -webkit-transform: translate(-175px, -355px);
            transform: translate(-175px, -355px);
  }
}
@-webkit-keyframes move-ball-13 {
  to {
    -webkit-transform: translate(355px, -175px);
            transform: translate(355px, -175px);
  }
}
@keyframes move-ball-13 {
  to {
    -webkit-transform: translate(355px, -175px);
            transform: translate(355px, -175px);
  }
}
@-webkit-keyframes move-ball-14 {
  to {
    -webkit-transform: translate(-175px, -175px);
            transform: translate(-175px, -175px);
  }
}
@keyframes move-ball-14 {
  to {
    -webkit-transform: translate(-175px, -175px);
            transform: translate(-175px, -175px);
  }
}
@-webkit-keyframes move-ball-15 {
  to {
    -webkit-transform: translate(175px, -175px);
            transform: translate(175px, -175px);
  }
}
@keyframes move-ball-15 {
  to {
    -webkit-transform: translate(175px, -175px);
            transform: translate(175px, -175px);
  }
}
@-webkit-keyframes move-ball-16 {
  to {
    -webkit-transform: translate(-355px, -175px);
            transform: translate(-355px, -175px);
  }
}
@keyframes move-ball-16 {
  to {
    -webkit-transform: translate(-355px, -175px);
            transform: translate(-355px, -175px);
  }
}
