@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #77AD88;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.finish-btn {
  width: 200px;
  height: 60px;
  border: 2px solid #FFF;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 30px / 30px;
  position: relative;
  cursor: pointer;
}

.finish-btn.active {
  -webkit-animation: scale-ani 4s;
          animation: scale-ani 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.finish-btn:after {
  content: "";
  color: #338144;
  font-size: 3em;
  left: 12px;
  position: absolute;
  top: -0.1em;
}

.finish-btn.active:after {
  -webkit-animation: show-check 4s linear;
          animation: show-check 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes show-check {
  35% {
    content: "";
  }
  50%, 100% {
    content: "\2713";
  }
}

@keyframes show-check {
  35% {
    content: "";
  }
  50%, 100% {
    content: "\2713";
  }
}
@-webkit-keyframes scale-ani {
  25%, 38% {
    width: 60px;
    border-color: #338144;
    color: transparent;
    background: transparent;
  }
  60%, 100% {
    width: 60px;
    border-color: #338144;
    color: transparent;
    background: #FFF;
  }
}
@keyframes scale-ani {
  25%, 38% {
    width: 60px;
    border-color: #338144;
    color: transparent;
    background: transparent;
  }
  60%, 100% {
    width: 60px;
    border-color: #338144;
    color: transparent;
    background: #FFF;
  }
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  fill: none;
  -webkit-transform: rotateX(-180deg) rotateZ(90deg);
          transform: rotateX(-180deg) rotateZ(90deg);
}

.finish-btn.active ~ svg {
  z-index: 10;
  -webkit-animation: scale-ring 4s linear;
          animation: scale-ring 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes scale-ring {
  38% {
    -webkit-transform: rotateX(-180deg) rotateZ(90deg) scale(1);
            transform: rotateX(-180deg) rotateZ(90deg) scale(1);
  }
  50%, 100% {
    -webkit-transform: rotateX(-180deg) rotateZ(90deg) scale(1.8);
            transform: rotateX(-180deg) rotateZ(90deg) scale(1.8);
    visibility: hidden;
  }
}

@keyframes scale-ring {
  38% {
    -webkit-transform: rotateX(-180deg) rotateZ(90deg) scale(1);
            transform: rotateX(-180deg) rotateZ(90deg) scale(1);
  }
  50%, 100% {
    -webkit-transform: rotateX(-180deg) rotateZ(90deg) scale(1.8);
            transform: rotateX(-180deg) rotateZ(90deg) scale(1.8);
    visibility: hidden;
  }
}
circle {
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 188;
  stroke-dashoffset: -188;
}

.finish-btn.active ~ svg > circle {
  -webkit-animation: fill-ring 2s linear;
          animation: fill-ring 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fill-ring {
  0%, 55% {
    stroke-dashoffset: -188;
  }
  75%, 100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-ring {
  0%, 55% {
    stroke-dashoffset: -188;
  }
  75%, 100% {
    stroke-dashoffset: 0;
  }
}
