@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #ededed;
  color: #333;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.book {
  width: 200px;
  height: 270px;
  background: #333;
  background: radial-gradient(circle at top right, rgba(85, 85, 85, 0.9), rgba(14, 14, 14, 0.9)), linear-gradient(to right, snow, #fafafa 10px, rgba(34, 34, 34, 0.9) 10px, rgba(34, 34, 34, 0.9) 20px, rgba(75, 75, 75, 0.5) 20px);
  border-radius: 3px 7px 7px 3px;
  color: #FFF;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.4);
}

.book::before {
  content: "JUDGE\a THIS\a BOOK";
  position: absolute;
  white-space: pre;
  font-size: 30px;
  font-weight: 800;
  left: 30px;
  top: 50px;
}

.book::after {
  content: "by its cover";
  position: absolute;
  white-space: pre;
  font-size: 12px;
  font-style: italic;
  left: 30px;
  top: 160px;
}

.line {
  width: 10px;
  height: 272px;
  position: absolute;
  z-intex: 5;
  top: -1px;
  left: 165px;
  border-radius: 1px;
  background: repeating-linear-gradient(to right, #A00, #A00 3px, #AF0000 3px, #989800 4px);
}
