@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #884499;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 60px;
}

.circle {
  width: 50px;
  height: 50px;
  background: #FFF;
  border-radius: 50%;
  -webkit-animation: move 1s infinite;
          animation: move 1s infinite;
  position: absolute;
  animation-direction: alternate-reverse;
}

.circle:nth-child(1) {
  -webkit-animation-delay: 0.015s;
          animation-delay: 0.015s;
  opacity: 0.2;
}

.circle:nth-child(2) {
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s;
  opacity: 0.2;
}

.circle:nth-child(3) {
  -webkit-animation-delay: 0.045s;
          animation-delay: 0.045s;
  opacity: 0.2;
}

.circle:nth-child(4) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
  opacity: 0.2;
}

.circle:nth-child(5) {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
  opacity: 0.2;
}

.circle:nth-child(6) {
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
  opacity: 0.2;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translate(160px, 0);
            transform: translate(160px, 0);
  }
  to {
    -webkit-transform: translate(-160px, 0);
            transform: translate(-160px, 0);
  }
}

@keyframes move {
  from {
    -webkit-transform: translate(160px, 0);
            transform: translate(160px, 0);
  }
  to {
    -webkit-transform: translate(-160px, 0);
            transform: translate(-160px, 0);
  }
}
