@import url('https://fonts.googleapis.com/css?family=Courgette');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courgette', cursive;
    background: #f9f4f0;
    cursor: pointer;
}

.title {
    padding: 20px;
    font-size: 3em;
    color: #2e2e46;
    z-index: 10; 
    animation: show-title 3s linear;
    animation-fill-mode: forwards;
}

.pattern {
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    grid-template-columns: repeat(17, 1fr);
    width: 510px;
    height: 510px;

}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: scale-circle 3s linear;
    animation-fill-mode: forwards;
    opacity: 0.1;
}

.color-1 {
    background: radial-gradient(at top, white, #f27f90);
    animation-delay: 0.1s;
}

.color-2 {
   background: radial-gradient(at top, #fa6a56, #e82a36);  
   animation-delay: 0.2s;
}


.color-3 {
   background: radial-gradient(at top, #a85c61, #882c41);
   animation-delay: 0.3s;
}

.color-4 {
   background: radial-gradient(at top, #89bb82, #699b52);
   animation-delay: 0.4s;
}

.color-5 {
    background: radial-gradient(at top, #409764, #207744);
    animation-delay: 0.5s;
}

.color-6 {
    background: radial-gradient(at top, #ceF496, #aee486);
    animation-delay: 0.6s;
}

@keyframes scale-circle {
    0% {
       opacity: 1;
    }
    100% {
        transform: rotateY(360deg);
        opacity: 1
    }
}

@keyframes show-title {
    0%, 70% {
       opacity: 0;
    }
    100% {
        opacity: 1
    }
}