@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #008070;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

path {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-dasharray: 0 1 100 400;
  -webkit-animation: paint 4s infinite linear;
          animation: paint 4s infinite linear;
}

@-webkit-keyframes paint {
  from {
    stroke-dasharray: 0 1 50 700;
  }
  to {
    stroke-dasharray: 0 800 50 700;
  }
}

@keyframes paint {
  from {
    stroke-dasharray: 0 1 50 700;
  }
  to {
    stroke-dasharray: 0 800 50 700;
  }
}
circle {
  fill: none;
  stroke-width: 2;
  -webkit-transform-origin: 200px 100px;
          transform-origin: 200px 100px;
  -webkit-animation: scale 4s infinite linear;
          animation: scale 4s infinite linear;
}

@-webkit-keyframes scale {
  0%, 39% {
    stroke: transparent;
  }
  40% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    stroke: #FFF;
  }
  70%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    stroke: transparent;
  }
}

@keyframes scale {
  0%, 39% {
    stroke: transparent;
  }
  40% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    stroke: #FFF;
  }
  70%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    stroke: transparent;
  }
}
