// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #884499;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	height: 60px;
}

.circle {
	width: 50px;
	height: 50px;
	background: #FFF;
	border-radius: 50%;
	animation: move 1s infinite;
	position: absolute;
	animation-direction: alternate-reverse;
}

@for $i from 1 to 7 {
	.circle:nth-child(#{$i}) {
		animation-delay: 0.015s * $i;
		opacity: 0.2;
	}
}

@keyframes move {
	from {
		transform: translate(160px, 0)
	}
	
	to {
		transform: translate(-160px, 0)
	}
}

