@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #00BB99;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.block {
  display: flex;
  justify-content: center;
  align-content: center;
}

.side {
  background: #FFF;
  width: 10px;
  height: 40px;
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.side:first-child {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-animation: move-one 5s infinite;
          animation: move-one 5s infinite;
}

.side:nth-child(2) {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-animation: move-two 5s infinite;
          animation: move-two 5s infinite;
}

@-webkit-keyframes move-one {
  20% {
    -webkit-transform: rotateZ(135deg);
            transform: rotateZ(135deg);
  }
  40% {
    -webkit-transform: translate(-22px, -22px) rotateZ(135deg);
            transform: translate(-22px, -22px) rotateZ(135deg);
  }
  60% {
    -webkit-transform: rotateZ(90deg) scale(2, 0.5);
            transform: rotateZ(90deg) scale(2, 0.5);
  }
  80% {
    -webkit-transform: rotateZ(0deg) scale(1);
            transform: rotateZ(0deg) scale(1);
  }
}

@keyframes move-one {
  20% {
    -webkit-transform: rotateZ(135deg);
            transform: rotateZ(135deg);
  }
  40% {
    -webkit-transform: translate(-22px, -22px) rotateZ(135deg);
            transform: translate(-22px, -22px) rotateZ(135deg);
  }
  60% {
    -webkit-transform: rotateZ(90deg) scale(2, 0.5);
            transform: rotateZ(90deg) scale(2, 0.5);
  }
  80% {
    -webkit-transform: rotateZ(0deg) scale(1);
            transform: rotateZ(0deg) scale(1);
  }
}
@-webkit-keyframes move-two {
  20%, 40% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateZ(45deg) scale(2, 0.5);
            transform: rotateZ(45deg) scale(2, 0.5);
  }
  80% {
    -webkit-transform: rotateZ(-90deg) scale(1);
            transform: rotateZ(-90deg) scale(1);
  }
}
@keyframes move-two {
  20%, 40% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  60% {
    -webkit-transform: rotateZ(45deg) scale(2, 0.5);
            transform: rotateZ(45deg) scale(2, 0.5);
  }
  80% {
    -webkit-transform: rotateZ(-90deg) scale(1);
            transform: rotateZ(-90deg) scale(1);
  }
}
