@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.top, .bottom {
  height: 0;
  transition: all 1.2s;
  grid-column: 1/3;
}

.bottom {
  background: #e65050;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
}

.top {
  background: url("https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat;
  z-index: 30;
  background-size: cover;
  display: flex;
  justify-content: center;
}

img {
  height: 200px;
  width: auto;
}

.img-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 200px;
}

.plus {
  color: #FFF;
  position: absolute;
  font-size: 3em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e65050;
  transition: all 0.5s;
  z-index: 15;
  cursor: pointer;
  opacity: 0;
}

.img-block:hover .plus {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  font-size: 4em;
  opacity: 1;
}

.img-block:hover::before {
  position: absolute;
  content: "pexels.com";
  color: white;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  width: 100%;
  height: 200px;
  z-index: 10;
  left: 0;
  top: 0;
}

.top.show {
  height: 200px;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
}

.bottom.show {
  height: 220px;
  -webkit-transform: translateY(-230px);
          transform: translateY(-230px);
}

.bottom:before {
  content: "Timon";
  font-weight: bold;
  color: #FFF;
  position: absolute;
  top: 50px;
  font-size: 1em;
}

.ball {
  width: 40px;
  height: 40px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: 10px;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  transition: all 0.3s;
}

.bottom.show .ball {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ball:hover {
  background: #FFF;
  cursor: pointer;
}

.photo img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #FFF;
  z-index: 50;
  transition: all 1.5s;
}

.photo img.show {
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}

.bottom::after {
  content: "https://www.pexels.com/";
  color: #FFF;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 50;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  background: #e65050;
  color: #FFF;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: -45px;
  transition: all 0.5s;
  font-weight: bold;
  transition: background 0.5s, color 0.5s, -webkit-transform 1.5s;
  transition: transform 1.5s, background 0.5s, color 0.5s;
  transition: transform 1.5s, background 0.5s, color 0.5s, -webkit-transform 1.5s;
}

.close:hover {
  color: #e65050;
  background: #FFF;
  cursor: pointer;
}

.close.show {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
