// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #39AAAA;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	display: flex;
}

.circle {
	width: 30px;
	height: 30px;
	font-weight:bold;
	box-sizing: content-box;
	border-radius: 30px;
	border: 1px solid #FFF;
	text-align: center;
	line-height: 30px;
	color: white;
	z-index: 1;
	position: relative;
	cursor: pointer;
	margin: 10px;
}

.circle:hover {
	background: #398888;
}

.circle::before {
	z-index: -1;
	content: "";
	width: 1px;
	height: 1px;
	border-radius: 15px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: transform 0.5s;
  display: block;
	opacity: 0;
}

.deactive.circle::before{
	transform: scale(1);
	opacity: 1;
}

.active.circle::before{
	transform: scale(31);
	opacity: 1
}

.active.circle{
	color: teal;
}