// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #ED8899;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ball {
	width: 1px;
	height: 1px;
	position: absolute;
	background: #FFF;
	border-radius: 50%;
	box-shadow: 0 0.1px 0.1px rgba(0, 0, 0, 0.1), 0.1px 0 0.08px rgba(0, 0, 0, 0.1);
}

@for $i from 1 to 4 {
	.ball:nth-child(#{$i}) {
		animation: ball-scale-#{$i} 3s infinite;
		animation-direction: alternate;
	}
}

@keyframes ball-scale-1 {
	from {
		transform: scale(1);
	}
	40%, 100% {
		transform: scale(80);
	}
}

@keyframes ball-scale-2 {
	0%, 40% {
		transform: scale(1);
	}
	60%, 100% {
		transform: scale(50);
	}
}

@keyframes ball-scale-3 {
	0%, 60% {
		transform: scale(1);
	}
	80%, 100% {
		transform: scale(20);
	}
}