// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #66CC76;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	top: -15px;
	left: -15px;
}

.fill {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	background: #FFF;
	cursor: pointer;
}

.shadow {
	z-index: -5;
}

@keyframes rotate-ball {
	0% {
		transform: rotateZ(0);
		border-radius: 50%;
	}
	
	80%, 100% {
		transform: rotateZ(360deg);
		border-radius: 0;
	}
}

@keyframes increase-shadow {
	100% {
		transform: scale(20);
		background: #66DD76;
	}
}

.disk {
	z-index: -3;
	border: 1px solid #FFF;
	box-sizing: border-box;
}

@keyframes increase-disk {
	60% {
		width: 160px;
		height: 160px;
		top: -80px;
		left: -80px;
		opacity: 1;
	}
	
	75%, 100% {
		width: 160px;
		height: 160px;
		top: -80px;
		left: -80px;
		opacity: 0;
	}
}

.line {
	border: 2px solid #FFF;
	height: 1px;
	width: 1px;
	box-sizing: border-box;
	position: absolute;
	z-index: -3;
}

$step: 30deg;
@function calc-angle($inx) {
  @return $inx * $step;
}

.lines {
	position: absolute;
	z-index: -3;
}

@for $i from 1 to 13 {
	.line:nth-child(#{$i}) {
		transform: rotate(calc-angle($i));
		top: -2px;
		left: -2px;
	}
}

@for $i from 1 to 13 {
	@keyframes animate-line-#{$i} { 
		60% {
			transform: rotate(calc-angle($i)) translate(0, -110px) scale(1, 6);
		}
		
		75%, 100% {
			transform: rotate(calc-angle($i)) translate(0, -110px) scale(1, 6);
			opacity: 0;
		}
	}
}

.fill.active {
	animation: rotate-ball 1s;
	animation-fill-mode: forwards;
}

.disk.active {
	animation: increase-disk 1s;
}

@for $i from 1 to 13 {
	.line:nth-child(#{$i}).active {
		animation: animate-line-#{$i} 1s;
		animation-fill-mode: forwards;
	}
}

.shadow.active {
	animation: increase-shadow 1s;
	animation-fill-mode: forwards;
}

.fill.deactive {
	animation: rotate-rect 1s;
	animation-fill-mode: forwards;
}

.disk.deactive {
	animation: reduce-disk 1s;
	animation-fill-mode: forwards;
}

@for $i from 1 to 13 {
	.line:nth-child(#{$i}).deactive {
		animation: reduce-line-#{$i} 1s;
	}
}

.shadow.deactive {
	animation: reduce-shadow 1s;
}

@keyframes rotate-rect {
	0% {
		transform: rotateZ(360deg);
		border-radius: 0%;
	}
	
	80%, 100% {
		transform: rotateZ(-0deg);
		border-radius: 50%;
	}
}

@keyframes reduce-disk {
	0% {
			width: 160px;
			height: 160px;
			top: -80px;
			left: -80px;
	}
	60% {
		width: 30px;
		height: 30px;
		top: -15px;
		left: -15px;
		opacity: 1;
	}
	
	75%, 100% {
		width: 30px;
		height: 30px;
		top: -15px;
		left: -15px;
		opacity: 0;
	}
}

@keyframes reduce-shadow {
	0% {
		transform: scale(20);
	}
	
	100% {
		transform: scale(1);
		background: #66DD76;
	}
}

@for $i from 1 to 13 {
	@keyframes reduce-line-#{$i} { 
		0% {
			transform: rotate(calc-angle($i)) translate(0, -110px) scale(1, 6);
			opacity: 1;
		}
		60% {
			transform: rotate(calc-angle($i)) translate(0, 0px) scale(1, 6);
		}
		75%, 100% {
			transform: rotate(calc-angle($i)) translate(0, 0px) scale(1);
			opacity: 0;
		}
	}
}