// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #333355;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	display: flex;
}

.center:after {
	content: "";
	position: absolute;
	width: 200px;
	top: 0;
	left: 0;
	border-top: 5px #FFF solid;
}

svg {
	transform-origin: top;
}

svg:last-child {
	animation: move-last 2s infinite;
}

svg:first-child {
	animation: move-first 2s infinite;
}

@keyframes move-last {
	0% {
		transform: rotateZ(-30deg)
	}
	25% {
		transform: rotateZ(0deg)
	}
	75% {
		transform: rotateZ(0deg)
	}
	100% {
		transform: rotateZ(-30deg)
	}
}

@keyframes move-first {
	25% {
		transform: rotateZ(0deg)
	}
	50% {
		transform: rotateZ(30deg)
	}
	75% {
		transform: rotateZ(0deg)
	}
}