// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #222244;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

line, circle {
	stroke-linecap: round;
	stroke: #224;
	stroke-width: 6;
	filter: drop-shadow( 0px 0px 4px #112);
	animation: light-on 20s infinite;
	animation-timing-function: easy-in;
}

circle {
	fill: none; 
	animation-delay: 4.5s;
}

@for $i from 1 to 9 {
	line:nth-child(#{$i}) {
		animation-delay: 0.5s * $i;
	}
}

@keyframes light-on {
	20%, 22%, 24%, 26%, 40%, 69%, 72%, 73% {
		stroke: #FFF;
		filter: drop-shadow( 0px 0px 4px #FFF);
	}
	19%, 21%, 23%, 25%, 70%, 71%, 74%, 100% {
		stroke: #224;
		filter: drop-shadow( 0px 0px 4px #112);
	}
}
