// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: tomato;
  color: #FFF;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sphere {
	transform-style: preserve-3d;
	transform-origin: center center;
	width: 200px;
	height: 200px;
	animation: rotate 5s infinite;
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
}

$step: 30deg;
@function calc-angle($inx) {
  @return $inx * $step;
}

@for $i from 0 to 6 {
	.circle:nth-child(#{$i}) {
		transform: rotateY(calc-angle($i));
	}
}

@keyframes rotate {
	0%   { transform: rotateX(0); }
	20%  { transform: rotateX(30deg);	}
	40%  { transform: rotateX(60deg) rotateY(60deg); }
	60%  { transform: rotateX(90deg) rotateZ(60deg) rotateX(90deg); }
	80%  { transform: rotateY(120deg) rotateX(120deg) rotateZ(30deg); }
	100% { transform: rotateY(0) rotateX(0) rotateZ(0); }
}