// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #55AA55;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 400px;
	height: 400px;
}

.ball {
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: radial-gradient(circle at 65% 15%, yellow, orange);
}

$top-positions: (5px, 5px, 5px, 5px, 25px, 25px, 185px, 185px, 205px, 205px, 365px, 365px, 380px, 380px, 380px, 380px);
$left-positions: (25px, 185px, 205px, 365px, 5px, 380px, 5px, 380px, 5px, 380px, 5px, 380px, 25px, 185px, 205px, 365px);
$delays: (5s, 2s, 2s, 5s, 5s, 5s, 2s, 2s, 2s, 2s, 5s, 5s, 5s, 2s, 2s, 5s);

@for $i from 1 to 17 {
	.ball:nth-child(#{$i}) {
		animation: move-ball-#{$i} infinite linear;
		animation-duration: unquote(nth($delays, $i));
		top: unquote(nth($top-positions, $i));
		left: unquote(nth($left-positions, $i));
		animation-direction: alternate;
	}
}

$y-offset: (180px, 180px, 180px, 180px, 355px, 355px, -180px, -180px, 180px, 180px, -355px, -355px, -175px, -175px, -175px, -175px);
$x-offset: (355px, -180px, 180px, -355px, 175px, -175px, 180px, -180px, 180px, -180px, 175px, -175px, 355px, -175px, 175px, -355px);

@for $i from 1 to 17 {
	@keyframes move-ball-#{$i} {
		to {
			transform: translate(unquote(nth($x-offset, $i)), unquote(nth($y-offset, $i)));
		}
	}
}