// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #48CFAD;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
	width: 250px;
	height: 200px;
	background: #FFF;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	display: grid;
	grid-template-rows: 50px 1fr;
}

.header {
	background: #E6bb46;
	border-radius: 6px 6px 0 0;
	padding: 10px;
	color: #FFF;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	font-size: 0.9em;
}

.big {
	font-weight: 700;
}

.small {
	font-size: 0.85em;
}

.diagram {
	display: grid;
	grid-template-rows: 40px 40px 40px 30px;
	padding: 0 10px;
}

.diagram > div:nth-child(-n+3) {
	border-bottom: 1px solid #DDD;
}

.daysweek {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	font-size: 0.6em;
	text-align: center;
	padding-top: 5px;
}

line.red {
	stroke: #F63326;	
}
.red {
	fill: #F63326;
}

.blue {
	fill: #29B6F6;
}

line.blue {
	stroke: #29b6F6;
}

.legend {
	display: flex;
	font-size: 0.7em;
	justify-content: end;
	align-items: center;
}

.legend div {
	padding: 0 0 0 20px;
}

.views:before {
	content: "";
	background: #F63326;
	width: 15px;
	height: 4px;
	position: absolute;
	right: 113px;
	top: 68px;
	border-radius: 4px;
}

.purchaches:before {
	content: "";
	background: #29B6F6;
	width: 15px;
	height: 4px;
	position: absolute;
	right: 64px;
	top: 68px;
	border-radius: 4px;
}

circle {
	cursor: pointer;
	transition: all 1s;
}

text {
	font-size: 0.6em;
	// display: none;
	cursor: pointer;
}

g:hover text{
	display: block
}