// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fde7e8;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.ear {
	stroke-linejoin: round;
	stroke-width: 8;
	stroke: #f48fb1;
	fill: #ffdee3;
}

.eye {
	fill: #000;
	stroke: #FFF;
	stroke-width: 8;
	transform-origin: center center;
	transform-style: preserve-3d;
	animation: flip 8s infinite;
}

@keyframes flip {
	0%, 94%, 100% {
		transform: scaleY(1)
	}
	95% {
		transform: scaleY(0)
	}
}