@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #222244;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

line, circle {
  stroke-linecap: round;
  stroke: #224;
  stroke-width: 6;
  -webkit-filter: drop-shadow(0px 0px 4px #112);
          filter: drop-shadow(0px 0px 4px #112);
  -webkit-animation: light-on 20s infinite;
          animation: light-on 20s infinite;
  -webkit-animation-timing-function: easy-in;
          animation-timing-function: easy-in;
}

circle {
  fill: none;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

line:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

line:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

line:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

line:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

line:nth-child(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

line:nth-child(6) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

line:nth-child(7) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

line:nth-child(8) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes light-on {
  20%, 22%, 24%, 26%, 40%, 69%, 72%, 73% {
    stroke: #FFF;
    -webkit-filter: drop-shadow(0px 0px 4px #FFF);
            filter: drop-shadow(0px 0px 4px #FFF);
  }
  19%, 21%, 23%, 25%, 70%, 71%, 74%, 100% {
    stroke: #224;
    -webkit-filter: drop-shadow(0px 0px 4px #112);
            filter: drop-shadow(0px 0px 4px #112);
  }
}

@keyframes light-on {
  20%, 22%, 24%, 26%, 40%, 69%, 72%, 73% {
    stroke: #FFF;
    -webkit-filter: drop-shadow(0px 0px 4px #FFF);
            filter: drop-shadow(0px 0px 4px #FFF);
  }
  19%, 21%, 23%, 25%, 70%, 71%, 74%, 100% {
    stroke: #224;
    -webkit-filter: drop-shadow(0px 0px 4px #112);
            filter: drop-shadow(0px 0px 4px #112);
  }
}
