// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #006994;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
	width: 400px;
	height: 400px;
  transform: translate(-50%,-50%);
}

.rect {
		border: 1px solid #fff;
		width: 300px;
		height: 300px;
		position: absolute;
		top: 50px;
		left: 50px;
}

@for $i from 1 to 19 {
	.rect:nth-child(#{$i}) {
		animation: rotate-rect-#{$i} 10s infinite cubic-bezier(1, 0, 0, 0.5);
	}
}

$angles: (360deg, 350deg, 340deg, 330deg, 320deg, 310deg, 300deg, 290deg, 280deg, 270deg, 260deg, 250deg, 240deg, 230deg, 220deg, 210deg, 200deg, 190deg);

@for $i from 1 to 19 {
	@keyframes rotate-rect-#{$i} {
		50% {
			transform: rotate(unquote(nth($angles, $i))) scale(0.3, 1);
			border-radius: 50%;
		}

		100% {
			transform: rotate(0) scale(1);
			border-radius: 0;
		}
	}
}