// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	width: 400px;
	height: 400px;
	background: #333;
}

.circle {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 60px;
	height: 60px;
	background: transparent;
	border: 1px dotted #FFF;
	border-radius: 35px;
	animation: scale-circle 6s infinite cubic-bezier(.65, .81, .56, .88);
}

.circle:nth-child(even){
	border: 1px solid lightgreen;
}

@for $i from 1 to 46 {
	.circle:nth-child(#{$i}) {
		animation-delay: -0.15s * $i;
	}
}

@keyframes scale-circle{
	0% {
		transform: scale(0) translate(0px, 0px) rotate(0);
		opacity: 0;
	}
	
	40% {
		transform: scale(2) translate(-40px, -40px);
		opacity: 0.1;
	}
	
	100% {
		transform: scale(12) translate(0, 0) rotate(90deg);
		opacity: 1
	}
}