// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: linear-gradient(to right, sandybrown, brown);
  color: saddleBrown;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card {
	width: 350px;
	height: 300px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
	background: #FEFEFE;
	border-radius: 5px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 2px;
}

.info {
	background: antiqueWhite;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all 1s;
	cursor: pointer;
}

.info > div {
	cursor: pointer
}

.info > div:nth-child(1) {
	font-weight: bold;
}

.info > div:nth-child(2) {
	font-size: 0.7em;	
}

.info:hover {
	background: navajoWhite;
}

.posts {
	grid-column: 2;
  grid-row: 1;
	border-radius: 0 5px 0 0;
}

.likes {
 grid-column: 2;
 grid-row: 2;
}

.follower {
 grid-column: 2;
 grid-row: 3;
 border-radius: 0 0 5px 0;
}

.contact {
	grid-row: 1/3;
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btn-block {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

button {
	padding: 5px;
	margin: 5px;
	width: 120px;
	font-size: 0.8em;
	background: #FFF;
	color: saddleBrown;
	border: 1px solid saddleBrown;
	border-radius: 15px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s;
}

button:hover {
	background: saddleBrown;
	color: #FFF;
}

.photo {
	width: 80px;
	height: 80px;
	margin: 15px;
}

.photo::before {
	content: "";
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 1px solid saddleBrown;
	border-right: 1px solid transparent;
	transition: all 1s linear;
	cursor: pointer;
	top: 37px;
	left: 72px;
}

.photo:hover::before {
	border-left: 1px solid transparent;
	border-right: 1px solid saddleBrown;
	transform: rotate(360deg);
}

.photo::after {
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid saddleBrown;
	border-left: 1px solid transparent;
	transition: all 1s linear;
	cursor: pointer;
	top: 32px;
	left: 67px;
}

.photo:hover::after {
	border-right: 1px solid transparent;
	border-left: 1px solid saddleBrown;
	transform: rotate(-360deg);
}

.photo img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

.name {
	font-weight: bold;
}

.profession {
	font-size: 0.8em;
}