@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: #333;
}

.circle {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 1px dotted #FFF;
  border-radius: 35px;
  -webkit-animation: scale-circle 6s infinite cubic-bezier(0.65, 0.81, 0.56, 0.88);
          animation: scale-circle 6s infinite cubic-bezier(0.65, 0.81, 0.56, 0.88);
}

.circle:nth-child(even) {
  border: 1px solid lightgreen;
}

.circle:nth-child(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

.circle:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.circle:nth-child(3) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.circle:nth-child(4) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.circle:nth-child(5) {
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}

.circle:nth-child(6) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.circle:nth-child(7) {
  -webkit-animation-delay: -1.05s;
          animation-delay: -1.05s;
}

.circle:nth-child(8) {
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}

.circle:nth-child(9) {
  -webkit-animation-delay: -1.35s;
          animation-delay: -1.35s;
}

.circle:nth-child(10) {
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}

.circle:nth-child(11) {
  -webkit-animation-delay: -1.65s;
          animation-delay: -1.65s;
}

.circle:nth-child(12) {
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}

.circle:nth-child(13) {
  -webkit-animation-delay: -1.95s;
          animation-delay: -1.95s;
}

.circle:nth-child(14) {
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}

.circle:nth-child(15) {
  -webkit-animation-delay: -2.25s;
          animation-delay: -2.25s;
}

.circle:nth-child(16) {
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}

.circle:nth-child(17) {
  -webkit-animation-delay: -2.55s;
          animation-delay: -2.55s;
}

.circle:nth-child(18) {
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}

.circle:nth-child(19) {
  -webkit-animation-delay: -2.85s;
          animation-delay: -2.85s;
}

.circle:nth-child(20) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.circle:nth-child(21) {
  -webkit-animation-delay: -3.15s;
          animation-delay: -3.15s;
}

.circle:nth-child(22) {
  -webkit-animation-delay: -3.3s;
          animation-delay: -3.3s;
}

.circle:nth-child(23) {
  -webkit-animation-delay: -3.45s;
          animation-delay: -3.45s;
}

.circle:nth-child(24) {
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
}

.circle:nth-child(25) {
  -webkit-animation-delay: -3.75s;
          animation-delay: -3.75s;
}

.circle:nth-child(26) {
  -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s;
}

.circle:nth-child(27) {
  -webkit-animation-delay: -4.05s;
          animation-delay: -4.05s;
}

.circle:nth-child(28) {
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
}

.circle:nth-child(29) {
  -webkit-animation-delay: -4.35s;
          animation-delay: -4.35s;
}

.circle:nth-child(30) {
  -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s;
}

.circle:nth-child(31) {
  -webkit-animation-delay: -4.65s;
          animation-delay: -4.65s;
}

.circle:nth-child(32) {
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
}

.circle:nth-child(33) {
  -webkit-animation-delay: -4.95s;
          animation-delay: -4.95s;
}

.circle:nth-child(34) {
  -webkit-animation-delay: -5.1s;
          animation-delay: -5.1s;
}

.circle:nth-child(35) {
  -webkit-animation-delay: -5.25s;
          animation-delay: -5.25s;
}

.circle:nth-child(36) {
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
}

.circle:nth-child(37) {
  -webkit-animation-delay: -5.55s;
          animation-delay: -5.55s;
}

.circle:nth-child(38) {
  -webkit-animation-delay: -5.7s;
          animation-delay: -5.7s;
}

.circle:nth-child(39) {
  -webkit-animation-delay: -5.85s;
          animation-delay: -5.85s;
}

.circle:nth-child(40) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}

.circle:nth-child(41) {
  -webkit-animation-delay: -6.15s;
          animation-delay: -6.15s;
}

.circle:nth-child(42) {
  -webkit-animation-delay: -6.3s;
          animation-delay: -6.3s;
}

.circle:nth-child(43) {
  -webkit-animation-delay: -6.45s;
          animation-delay: -6.45s;
}

.circle:nth-child(44) {
  -webkit-animation-delay: -6.6s;
          animation-delay: -6.6s;
}

.circle:nth-child(45) {
  -webkit-animation-delay: -6.75s;
          animation-delay: -6.75s;
}

@-webkit-keyframes scale-circle {
  0% {
    -webkit-transform: scale(0) translate(0px, 0px) rotate(0);
            transform: scale(0) translate(0px, 0px) rotate(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(2) translate(-40px, -40px);
            transform: scale(2) translate(-40px, -40px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(12) translate(0, 0) rotate(90deg);
            transform: scale(12) translate(0, 0) rotate(90deg);
    opacity: 1;
  }
}

@keyframes scale-circle {
  0% {
    -webkit-transform: scale(0) translate(0px, 0px) rotate(0);
            transform: scale(0) translate(0px, 0px) rotate(0);
    opacity: 0;
  }
  40% {
    -webkit-transform: scale(2) translate(-40px, -40px);
            transform: scale(2) translate(-40px, -40px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(12) translate(0, 0) rotate(90deg);
            transform: scale(12) translate(0, 0) rotate(90deg);
    opacity: 1;
  }
}
