@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #223355;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.triangle.first {
  fill: #999AFF;
  -webkit-animation: show-inside-1 3s infinite;
          animation: show-inside-1 3s infinite;
}

.triangle.second {
  fill: #99BBFF;
  -webkit-animation: show-inside-2 3s infinite;
          animation: show-inside-2 3s infinite;
}

.triangle.third {
  fill: #99AAFF;
  -webkit-animation: show-inside-3 3s infinite;
          animation: show-inside-3 3s infinite;
}

.triangle.fourth {
  fill: #998AFF;
  -webkit-animation: show-inside-4 3s infinite;
          animation: show-inside-4 3s infinite;
}

.triangle, rect, circle {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes show-inside-1 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(-170px, 0);
            transform: translate(-170px, 0);
  }
}

@keyframes show-inside-1 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(-170px, 0);
            transform: translate(-170px, 0);
  }
}
@-webkit-keyframes show-inside-2 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(0, -170px);
            transform: translate(0, -170px);
  }
}
@keyframes show-inside-2 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(0, -170px);
            transform: translate(0, -170px);
  }
}
@-webkit-keyframes show-inside-3 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(170px, 0);
            transform: translate(170px, 0);
  }
}
@keyframes show-inside-3 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(170px, 0);
            transform: translate(170px, 0);
  }
}
@-webkit-keyframes show-inside-4 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(0, 170px);
            transform: translate(0, 170px);
  }
}
@keyframes show-inside-4 {
  0%, 80%, 100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  40%, 50% {
    -webkit-transform: translate(0, 170px);
            transform: translate(0, 170px);
  }
}
rect:nth-child(1) {
  fill: orange;
  -webkit-animation: move-rect-1 3s infinite;
          animation: move-rect-1 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

rect:nth-child(2) {
  fill: yellow;
  -webkit-animation: move-rect-2 3s infinite;
          animation: move-rect-2 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

rect:nth-child(3) {
  fill: pink;
  -webkit-animation: move-rect-3 3s infinite;
          animation: move-rect-3 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

rect:nth-child(4) {
  fill: #69f0ae;
  -webkit-animation: move-rect-4 3s infinite;
          animation: move-rect-4 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

rect:nth-child(5) {
  fill: #00e2ff;
  -webkit-animation: move-rect-5 3s infinite;
          animation: move-rect-5 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes move-rect-1 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-90px, -50px) rotateZ(20deg);
            transform: scale(1) translate(-90px, -50px) rotateZ(20deg);
  }
}

@keyframes move-rect-1 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-90px, -50px) rotateZ(20deg);
            transform: scale(1) translate(-90px, -50px) rotateZ(20deg);
  }
}
@-webkit-keyframes move-rect-2 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(15px, 30px) rotateZ(-45deg);
            transform: scale(1) translate(15px, 30px) rotateZ(-45deg);
  }
}
@keyframes move-rect-2 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(15px, 30px) rotateZ(-45deg);
            transform: scale(1) translate(15px, 30px) rotateZ(-45deg);
  }
}
@-webkit-keyframes move-rect-3 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-40px, -30px) rotateZ(-65deg);
            transform: scale(1) translate(-40px, -30px) rotateZ(-65deg);
  }
}
@keyframes move-rect-3 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-40px, -30px) rotateZ(-65deg);
            transform: scale(1) translate(-40px, -30px) rotateZ(-65deg);
  }
}
@-webkit-keyframes move-rect-4 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(40px, 30px) rotateZ(-85deg);
            transform: scale(1) translate(40px, 30px) rotateZ(-85deg);
  }
}
@keyframes move-rect-4 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(40px, 30px) rotateZ(-85deg);
            transform: scale(1) translate(40px, 30px) rotateZ(-85deg);
  }
}
@-webkit-keyframes move-rect-5 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-30px, 60px) rotateZ(65deg);
            transform: scale(1) translate(-30px, 60px) rotateZ(65deg);
  }
}
@keyframes move-rect-5 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-30px, 60px) rotateZ(65deg);
            transform: scale(1) translate(-30px, 60px) rotateZ(65deg);
  }
}
circle:nth-child(6) {
  stroke: orange;
  stroke-width: 3;
  fill: none;
  -webkit-animation: move-circle-1 3s infinite;
          animation: move-circle-1 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

circle:nth-child(7) {
  stroke: yellow;
  stroke-width: 3;
  fill: none;
  -webkit-animation: move-circle-2 3s infinite;
          animation: move-circle-2 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

circle:nth-child(8) {
  stroke: pink;
  stroke-width: 3;
  fill: none;
  -webkit-animation: move-circle-3 3s infinite;
          animation: move-circle-3 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

circle:nth-child(9) {
  stroke: #69f0ae;
  stroke-width: 3;
  fill: none;
  -webkit-animation: move-circle-4 3s infinite;
          animation: move-circle-4 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

circle:nth-child(10) {
  stroke: #00e2ff;
  stroke-width: 3;
  fill: none;
  -webkit-animation: move-circle-5 3s infinite;
          animation: move-circle-5 3s infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes move-circle-1 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-60px, 60px);
            transform: scale(1) translate(-60px, 60px);
  }
}

@keyframes move-circle-1 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-60px, 60px);
            transform: scale(1) translate(-60px, 60px);
  }
}
@-webkit-keyframes move-circle-2 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(15px, -30px);
            transform: scale(1) translate(15px, -30px);
  }
}
@keyframes move-circle-2 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(15px, -30px);
            transform: scale(1) translate(15px, -30px);
  }
}
@-webkit-keyframes move-circle-3 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-40px, -50px);
            transform: scale(1) translate(-40px, -50px);
  }
}
@keyframes move-circle-3 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(-40px, -50px);
            transform: scale(1) translate(-40px, -50px);
  }
}
@-webkit-keyframes move-circle-4 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(50px, -100px);
            transform: scale(1) translate(50px, -100px);
  }
}
@keyframes move-circle-4 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(50px, -100px);
            transform: scale(1) translate(50px, -100px);
  }
}
@-webkit-keyframes move-circle-5 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(60px, 80px);
            transform: scale(1) translate(60px, 80px);
  }
}
@keyframes move-circle-5 {
  0%, 80%, 100% {
    -webkit-transform: scale(0) translate(0);
            transform: scale(0) translate(0);
  }
  40%, 50% {
    -webkit-transform: scale(1) translate(60px, 80px);
            transform: scale(1) translate(60px, 80px);
  }
}
