@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #006994;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rect {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.rect:nth-child(1) {
  -webkit-animation: rotate-rect-1 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-1 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(2) {
  -webkit-animation: rotate-rect-2 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-2 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(3) {
  -webkit-animation: rotate-rect-3 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-3 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(4) {
  -webkit-animation: rotate-rect-4 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-4 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(5) {
  -webkit-animation: rotate-rect-5 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-5 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(6) {
  -webkit-animation: rotate-rect-6 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-6 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(7) {
  -webkit-animation: rotate-rect-7 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-7 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(8) {
  -webkit-animation: rotate-rect-8 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-8 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(9) {
  -webkit-animation: rotate-rect-9 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-9 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(10) {
  -webkit-animation: rotate-rect-10 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-10 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(11) {
  -webkit-animation: rotate-rect-11 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-11 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(12) {
  -webkit-animation: rotate-rect-12 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-12 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(13) {
  -webkit-animation: rotate-rect-13 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-13 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(14) {
  -webkit-animation: rotate-rect-14 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-14 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(15) {
  -webkit-animation: rotate-rect-15 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-15 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(16) {
  -webkit-animation: rotate-rect-16 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-16 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(17) {
  -webkit-animation: rotate-rect-17 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-17 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

.rect:nth-child(18) {
  -webkit-animation: rotate-rect-18 10s infinite cubic-bezier(1, 0, 0, 0.5);
          animation: rotate-rect-18 10s infinite cubic-bezier(1, 0, 0, 0.5);
}

@-webkit-keyframes rotate-rect-1 {
  50% {
    -webkit-transform: rotate(360deg) scale(0.3, 1);
            transform: rotate(360deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}

@keyframes rotate-rect-1 {
  50% {
    -webkit-transform: rotate(360deg) scale(0.3, 1);
            transform: rotate(360deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-2 {
  50% {
    -webkit-transform: rotate(350deg) scale(0.3, 1);
            transform: rotate(350deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-2 {
  50% {
    -webkit-transform: rotate(350deg) scale(0.3, 1);
            transform: rotate(350deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-3 {
  50% {
    -webkit-transform: rotate(340deg) scale(0.3, 1);
            transform: rotate(340deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-3 {
  50% {
    -webkit-transform: rotate(340deg) scale(0.3, 1);
            transform: rotate(340deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-4 {
  50% {
    -webkit-transform: rotate(330deg) scale(0.3, 1);
            transform: rotate(330deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-4 {
  50% {
    -webkit-transform: rotate(330deg) scale(0.3, 1);
            transform: rotate(330deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-5 {
  50% {
    -webkit-transform: rotate(320deg) scale(0.3, 1);
            transform: rotate(320deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-5 {
  50% {
    -webkit-transform: rotate(320deg) scale(0.3, 1);
            transform: rotate(320deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-6 {
  50% {
    -webkit-transform: rotate(310deg) scale(0.3, 1);
            transform: rotate(310deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-6 {
  50% {
    -webkit-transform: rotate(310deg) scale(0.3, 1);
            transform: rotate(310deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-7 {
  50% {
    -webkit-transform: rotate(300deg) scale(0.3, 1);
            transform: rotate(300deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-7 {
  50% {
    -webkit-transform: rotate(300deg) scale(0.3, 1);
            transform: rotate(300deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-8 {
  50% {
    -webkit-transform: rotate(290deg) scale(0.3, 1);
            transform: rotate(290deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-8 {
  50% {
    -webkit-transform: rotate(290deg) scale(0.3, 1);
            transform: rotate(290deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-9 {
  50% {
    -webkit-transform: rotate(280deg) scale(0.3, 1);
            transform: rotate(280deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-9 {
  50% {
    -webkit-transform: rotate(280deg) scale(0.3, 1);
            transform: rotate(280deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-10 {
  50% {
    -webkit-transform: rotate(270deg) scale(0.3, 1);
            transform: rotate(270deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-10 {
  50% {
    -webkit-transform: rotate(270deg) scale(0.3, 1);
            transform: rotate(270deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-11 {
  50% {
    -webkit-transform: rotate(260deg) scale(0.3, 1);
            transform: rotate(260deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-11 {
  50% {
    -webkit-transform: rotate(260deg) scale(0.3, 1);
            transform: rotate(260deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-12 {
  50% {
    -webkit-transform: rotate(250deg) scale(0.3, 1);
            transform: rotate(250deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-12 {
  50% {
    -webkit-transform: rotate(250deg) scale(0.3, 1);
            transform: rotate(250deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-13 {
  50% {
    -webkit-transform: rotate(240deg) scale(0.3, 1);
            transform: rotate(240deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-13 {
  50% {
    -webkit-transform: rotate(240deg) scale(0.3, 1);
            transform: rotate(240deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-14 {
  50% {
    -webkit-transform: rotate(230deg) scale(0.3, 1);
            transform: rotate(230deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-14 {
  50% {
    -webkit-transform: rotate(230deg) scale(0.3, 1);
            transform: rotate(230deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-15 {
  50% {
    -webkit-transform: rotate(220deg) scale(0.3, 1);
            transform: rotate(220deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-15 {
  50% {
    -webkit-transform: rotate(220deg) scale(0.3, 1);
            transform: rotate(220deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-16 {
  50% {
    -webkit-transform: rotate(210deg) scale(0.3, 1);
            transform: rotate(210deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-16 {
  50% {
    -webkit-transform: rotate(210deg) scale(0.3, 1);
            transform: rotate(210deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-17 {
  50% {
    -webkit-transform: rotate(200deg) scale(0.3, 1);
            transform: rotate(200deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-17 {
  50% {
    -webkit-transform: rotate(200deg) scale(0.3, 1);
            transform: rotate(200deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes rotate-rect-18 {
  50% {
    -webkit-transform: rotate(190deg) scale(0.3, 1);
            transform: rotate(190deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
@keyframes rotate-rect-18 {
  50% {
    -webkit-transform: rotate(190deg) scale(0.3, 1);
            transform: rotate(190deg) scale(0.3, 1);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
    border-radius: 0;
  }
}
