@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #CCCDDC;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  width: 100px;
  height: 50px;
  border-radius: 50% 40%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50px;
  background: #FADDFA;
  color: #55A;
  cursor: pointer;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.btn.send {
  z-index: 5;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.btn.done {
  background: #69DD69;
  border: 2px solid #FFF;
  color: #FFF;
}

.btn.send.active {
  -webkit-animation: flip 1s;
          animation: flip 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.btn.send.deactive {
  -webkit-animation: flip1 1s;
          animation: flip1 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.btn.done.deactive {
  -webkit-animation: flip 1s;
          animation: flip 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.btn.done.active {
  -webkit-animation: flip1 1s;
          animation: flip1 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.group {
  width: 100px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}

@keyframes flip {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
}
@-webkit-keyframes flip1 {
  from {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes flip1 {
  from {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  to {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
