// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: radial-gradient(at top left, #1bbc9c, #5382d5, #ef6c00);
	background-size: 150% 150%;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	animation: gradient-load 5s infinite ease;
}

@keyframes gradient-load {
	0% {
		 background-position: 0% 0%;
	}
	
	50% {
		background-position: 100% 100%;
	}

	100% {
		background-position: 0% 0%;
	}
}
  
