// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #008070;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

path {
	fill: none;
	stroke: #FFF;
	stroke-width: 2;
	stroke-dasharray:  0 1 100 400;
	animation: paint 4s infinite linear;
}

@keyframes paint {
	from {
		stroke-dasharray:  0 1 50 700;
	}
	to {
		stroke-dasharray:  0 800 50 700;
	}
}

circle {
	fill: none;
	stroke-width: 2;
	transform-origin: 200px 100px; 
	animation: scale 4s infinite linear;
}

@keyframes scale {
	0%, 39% {
		stroke: transparent;
	}
	40% {
		transform: scale(0.5);
		stroke: #FFF;
	}
	70%, 100% {
		transform: scale(1);
		stroke: transparent;
	}
}