@import url("https://fonts.googleapis.com/css?family=Rokkitt");
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: linear-gradient(45deg, #0266ac, cyan);
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 240px;
  display: grid;
  grid-template-rows: 100px 70px 70px;
}

.hundred {
  width: 200px;
}

.line {
  border-radius: 3px;
  height: 100px;
  position: absolute;
  top: 0px;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 13px #FFF solid;
}

.one {
  z-index: 10;
  width: 20px;
}

.small {
  z-index: 8;
  -webkit-transform: translateX(-15px) rotateZ(50deg);
          transform: translateX(-15px) rotateZ(50deg);
  height: 40px;
  border-width: 12px;
}

.zero {
  width: 100px;
  border-radius: 50%;
  border: 25px #FFF solid;
}

.zero:nth-last-child(2) {
  z-index: 8;
  left: 10px;
}

.zero:nth-last-child(1) {
  z-index: 5;
  left: 90px;
}

.row {
  color: #FFF;
  font-family: 'Rokkitt', serif;
  font-weight: bold;
  font-size: 21px;
}

.days {
  font-size: 65px;
}
