@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #333355;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: flex;
}

.center:after {
  content: "";
  position: absolute;
  width: 200px;
  top: 0;
  left: 0;
  border-top: 5px #FFF solid;
}

svg {
  -webkit-transform-origin: top;
          transform-origin: top;
}

svg:last-child {
  -webkit-animation: move-last 2s infinite;
          animation: move-last 2s infinite;
}

svg:first-child {
  -webkit-animation: move-first 2s infinite;
          animation: move-first 2s infinite;
}

@-webkit-keyframes move-last {
  0% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
}

@keyframes move-last {
  0% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg);
  }
}
@-webkit-keyframes move-first {
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  75% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
@keyframes move-first {
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  75% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
