// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #2A2A40;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

svg:hover {
	cursor: pointer;
}

svg:hover text {
	fill: #fff;
	transform: translate(15px, 15px);
}

.bottom {
	transition: transform 0.4s;	
}

.top, text {
	transition: transform 0.3s;
}

svg:hover .bottom {
	transform: translate(-15px, -15px);
	fill: #f2f2f2;
}

svg:hover .top {
	transform: translate(15px, 15px);
	fill: #663399;
}
