@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #dcffdc;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.branch {
  stroke: #eeed82;
  stroke-width: 5;
  stroke-linecap: round;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: increase-branch 1s;
          animation: increase-branch 1s;
}

@-webkit-keyframes increase-branch {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  90% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
  }
}

@keyframes increase-branch {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  90% {
    -webkit-transform: scaleY(0.9);
            transform: scaleY(0.9);
  }
}
.crown {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-animation: increase-crown 1s;
          animation: increase-crown 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dark {
  fill: #990000;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.light {
  fill: #CC0000;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes increase-crown {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes increase-crown {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
