// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #224455;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.candle {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.base {
	height: 10px;
	border-radius: 4px;
	background: #111133;
	width: 140px;
}

.cylinder {
	height: 100px;
	width: 70px;
	background: linear-gradient(to right, #fff, #fff 55px, #ddf 50px);
	border-radius: 4px;
}

.candlewick {
	height: 10px;
	width: 4px;
	background: #FFC282;
}

.flame {
	height: 40px;
	width: 20px;
	border: 8px solid #FFAB00;
	border-radius: 20px 20px 20px 20px / 40px 40px 25px 25px;
	box-sizing: border-box;
	background: #FF9900;
	box-shadow: 0px 0px 30px #FFDD05;
	animation: flame-motion 5s infinite linear, flame-scale 5s infinite linear;
	transform-origin: bottom center;
	animation-direction: alternate;
}

@keyframes flame-motion {
	0%, 100% {
		border-radius: 2px 30px 20px 20px / 20px 35px 25px 25px;
	}
	
	50% {
		border-radius: 30px 2px 20px 20px / 35px 20px 25px 25px;
	}
}

@keyframes flame-scale {
	20% {
		transform: scale(0.85, 0.9)
	}
	40% {
		transform: scale(0.95, 0.95)
	}
	60% {
		transform: scale(1.05, 1.05)
	}
	80% {
		transform: scale(1.1, 0.9)
	}
	100% {
		transform: scale(1, 1)
	}
}