@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fde7e8;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ear {
  stroke-linejoin: round;
  stroke-width: 8;
  stroke: #f48fb1;
  fill: #ffdee3;
}

.eye {
  fill: #000;
  stroke: #FFF;
  stroke-width: 8;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: flip 8s infinite;
          animation: flip 8s infinite;
}

@-webkit-keyframes flip {
  0%, 94%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  95% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes flip {
  0%, 94%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  95% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
