@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tag {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tags {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  height: 180px;
  margin: 0 auto;
  width: 95%;
}

.proposal {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 95%;
  height: 90%;
  padding: 20px 10px;
  background-color: #f7f7f7;
}

.title {
  color: #FFF;
  background-color: #93cfec;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 90%;
}

.tag {
  background: #FFF;
  cursor: pointer;
  height: 164px;
  width: 110px;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.tag:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.tag:hover > .title {
  background-color: #298cbc;
}

.tag:hover > .price .sum {
  color: #298cbc;
}

.price {
  color: #555;
  text-align: center;
  padding-top: 10px;
}

.price .sum {
  font-weight: bold;
  font-size: 2em;
}

.price .sum:after {
  content: "\A";
  white-space: pre;
}

span {
  font-size: 12px;
  font-weight: normal;
}

.additional {
  padding: 10px 15px;
}

hr {
  border: 2px #DDD solid;
  border-radius: 2px;
  line-height: 5px;
  margin: 5px auto;
}

hr.short {
  width: 70%;
}

.info {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.info span {
  padding-bottom: 5px;
}

.info .max {
  float: right;
}

.info .min {
  float: left;
}

.fill {
  background: #DDD;
  border-radius: 5px;
  clear: both;
  height: 8px;
  width: 100%;
}

.progress {
  background: #93cfec;
  border-radius: 5px 0 0 5px;
  width: 0%;
  height: 3px;
  display: block;
  transition: width 0.3s;
}
