// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #CCCDDC;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn {
	width: 100px;
	height: 50px;
	border-radius: 50% 40%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 50px;
	background: #FADDFA;
	color: #55A;
	cursor: pointer;
	position: absolute;
	transform-style: preserve-3d;
	transform-origin: center center;
}

.btn.send {
	z-index: 5;
	backface-visibility: hidden;
}
.btn.done {
	background: #69DD69;
	border: 2px solid #FFF;
	color: #FFF;
}

.btn.send.active {
	animation: flip 1s;
	animation-fill-mode: forwards;
}

.btn.send.deactive {
	animation: flip1 1s;
	animation-fill-mode: forwards;
}

.btn.done.deactive {
	animation: flip 1s;
	animation-fill-mode: forwards;
}

.btn.done.active {
	animation: flip1 1s;
	animation-fill-mode: forwards;
}

.group {
	width: 100px;
	height: 50px;
	transform-style: preserve-3d;
}

@keyframes flip {
	from {
		transform: rotateX(0deg);
	}
	to {
		transform: rotateX(180deg);
	}
}

@keyframes flip1 {
	from {
		transform: rotateX(-180deg);
	}
	to {
		transform: rotateX(0deg);
	}
}
