@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url("https://fonts.googleapis.com/css?family=Lobster");
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #4B384C;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.block {
  width: 350px;
  height: 250px;
  border-radius: 3px;
  background: #F6F6F6;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
}

button {
  background: #E2A9E5;
  color: #632C65;
  border: none;
  border-radius: 0 0 3px 3px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background: #632C65;
  color: #E2A9E5;
}

button:focus {
  outline: 0;
}

.header {
  background: #632C65;
  color: #E2A9E5;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  font-family: 'Lobster', cursive;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.wrap {
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

.count {
  position: absolute;
  right: -30px;
  top: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  background: #E2A9E5;
  color: #632C65;
  line-height: 30px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px dashed;
  text-align: center;
}

.info {
  padding: 10px;
  overflow: hidden;
  color: #4B384C;
  text-align: justify;
}

.about {
  font-size: 0.95em;
}

.book {
  font-size: 1em;
}

.book strong {
  color: #632C65;
}

.block.active {
  -webkit-animation: fade 1s;
          animation: fade 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
