// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: linear-gradient(to top, teal, khaki);
  color: #375923;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.todo-list {
	width: 200px;
	height: 240px;
	background: #FEFEFE;
	border-radius: 3px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-rows: 90px auto;
}

.header {
	margin: 10px;
	border-bottom: 1px solid #CCC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.day {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 5px;
}

.date {
	font-size: 0.8em;
}

.list {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	margin: 10px 20px;
	font-size: 0.85em;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) 
{
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
  display: block;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 50%;
	opacity: 1;
	transform: scale(1);
	transition: all 0.8s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
	opacity: 0;
  transition: all 0.4s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    right: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
		opacity: 1;
    border-left: 3px solid khaki;
    border-bottom: 3px solid teal;
    transform: rotate(-45deg);
}

input[type="checkbox"]:checked + label {
	color: #999;
} 

input[type="checkbox"]:hover + label {
	color: teal;
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

input[type="checkbox"]:checked + label:before {
	content: "";
	transform: scale(1.5);
	opacity: 0;
}
