@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.widget {
  display: grid;
  grid-template-rows: 300px auto;
}

svg {
  position: relative;
  background: #222344;
  z-index: 1;
}

.info {
  display: grid;
  grid-template-columns: 26% 40% 30%;
  height: 100px;
}

.info > div {
  display: flex;
  justify-content: center;
}

.celsius {
  font-size: 3em;
  align-items: center;
}

.additional, .metcast {
  flex-direction: column;
  font-size: 0.9em;
}

.additional {
  align-items: start;
}

.metcast {
  align-items: end;
}

.additional > div, .metcast > div {
  padding: 4px;
}

.metcast b {
  font-size: 1.1em;
}

.dark {
  fill: #28285c;
}

.light {
  fill: #383872;
}

.moon {
  fill: #f9f4cb;
  -webkit-filter: drop-shadow(0 0 5px #f9f4cb);
          filter: drop-shadow(0 0 5px #f9f4cb);
}

.crater {
  fill: #E7E3B7;
}

#moon {
  -webkit-animation: 2s raise;
          animation: 2s raise;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes raise {
  from {
    -webkit-transform: translate(-280px, 80px);
            transform: translate(-280px, 80px);
  }
  to {
    -webkit-transform: translate(-280px, 80px) rotate(-35deg);
            transform: translate(-280px, 80px) rotate(-35deg);
  }
}

@keyframes raise {
  from {
    -webkit-transform: translate(-280px, 80px);
            transform: translate(-280px, 80px);
  }
  to {
    -webkit-transform: translate(-280px, 80px) rotate(-35deg);
            transform: translate(-280px, 80px) rotate(-35deg);
  }
}
.rain {
  width: 400px;
  height: 300px;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.drop {
  width: 8px;
  height: 16px;
  border-radius: 16px 0 8px 8px / 14px 0 8px 8px;
  background: #58c0dd;
  position: absolute;
  top: -16px;
}

.drop:nth-child(even) {
  -webkit-animation: rain-front 1.2s linear infinite;
          animation: rain-front 1.2s linear infinite;
}

.drop:nth-child(odd) {
  -webkit-animation: rain-back 1s linear infinite;
          animation: rain-back 1s linear infinite;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.drop:nth-child(1) {
  -webkit-animation-delay: 0.131s;
          animation-delay: 0.131s;
}

.drop:nth-child(2) {
  -webkit-animation-delay: 0.262s;
          animation-delay: 0.262s;
}

.drop:nth-child(3) {
  -webkit-animation-delay: 0.393s;
          animation-delay: 0.393s;
}

.drop:nth-child(4) {
  -webkit-animation-delay: 0.524s;
          animation-delay: 0.524s;
}

.drop:nth-child(5) {
  -webkit-animation-delay: 0.655s;
          animation-delay: 0.655s;
}

.drop:nth-child(6) {
  -webkit-animation-delay: 0.786s;
          animation-delay: 0.786s;
}

.drop:nth-child(7) {
  -webkit-animation-delay: 0.917s;
          animation-delay: 0.917s;
}

.drop:nth-child(8) {
  -webkit-animation-delay: 1.048s;
          animation-delay: 1.048s;
}

.drop:nth-child(9) {
  -webkit-animation-delay: 1.179s;
          animation-delay: 1.179s;
}

.drop:nth-child(10) {
  -webkit-animation-delay: 1.31s;
          animation-delay: 1.31s;
}

.drop:nth-child(11) {
  -webkit-animation-delay: 1.441s;
          animation-delay: 1.441s;
}

.drop:nth-child(12) {
  -webkit-animation-delay: 1.572s;
          animation-delay: 1.572s;
}

.drop:nth-child(13) {
  -webkit-animation-delay: 1.703s;
          animation-delay: 1.703s;
}

.drop:nth-child(14) {
  -webkit-animation-delay: 1.834s;
          animation-delay: 1.834s;
}

.drop:nth-child(15) {
  -webkit-animation-delay: 1.965s;
          animation-delay: 1.965s;
}

.drop:nth-child(16) {
  -webkit-animation-delay: 2.096s;
          animation-delay: 2.096s;
}

.drop:nth-child(17) {
  -webkit-animation-delay: 2.227s;
          animation-delay: 2.227s;
}

.drop:nth-child(18) {
  -webkit-animation-delay: 2.358s;
          animation-delay: 2.358s;
}

.drop:nth-child(19) {
  -webkit-animation-delay: 2.489s;
          animation-delay: 2.489s;
}

.drop:nth-child(20) {
  -webkit-animation-delay: 2.62s;
          animation-delay: 2.62s;
}

.drop:nth-child(21) {
  -webkit-animation-delay: 2.751s;
          animation-delay: 2.751s;
}

.drop:nth-child(22) {
  -webkit-animation-delay: 2.882s;
          animation-delay: 2.882s;
}

.drop:nth-child(23) {
  -webkit-animation-delay: 3.013s;
          animation-delay: 3.013s;
}

.drop:nth-child(24) {
  -webkit-animation-delay: 3.144s;
          animation-delay: 3.144s;
}

.drop:nth-child(25) {
  -webkit-animation-delay: 3.275s;
          animation-delay: 3.275s;
}

.drop:nth-child(26) {
  -webkit-animation-delay: 3.406s;
          animation-delay: 3.406s;
}

.drop:nth-child(27) {
  -webkit-animation-delay: 3.537s;
          animation-delay: 3.537s;
}

.drop:nth-child(28) {
  -webkit-animation-delay: 3.668s;
          animation-delay: 3.668s;
}

.drop:nth-child(29) {
  -webkit-animation-delay: 3.799s;
          animation-delay: 3.799s;
}

.drop:nth-child(30) {
  -webkit-animation-delay: 3.93s;
          animation-delay: 3.93s;
}

.drop:nth-child(31) {
  -webkit-animation-delay: 4.061s;
          animation-delay: 4.061s;
}

.drop:nth-child(32) {
  -webkit-animation-delay: 4.192s;
          animation-delay: 4.192s;
}

.drop:nth-child(33) {
  -webkit-animation-delay: 4.323s;
          animation-delay: 4.323s;
}

.drop:nth-child(34) {
  -webkit-animation-delay: 4.454s;
          animation-delay: 4.454s;
}

.drop:nth-child(35) {
  -webkit-animation-delay: 4.585s;
          animation-delay: 4.585s;
}

@-webkit-keyframes rain-front {
  80% {
    -webkit-transform: translateY(300px) scale(1, 0.8);
            transform: translateY(300px) scale(1, 0.8);
    opacity: 1;
  }
  90%, 95% {
    border-radius: 50%;
    -webkit-transform: translateY(304px) scale(2, 0.2);
            transform: translateY(304px) scale(2, 0.2);
  }
  100% {
    -webkit-transform: translateY(304px) scaleY(0);
            transform: translateY(304px) scaleY(0);
    opacity: 0;
  }
}

@keyframes rain-front {
  80% {
    -webkit-transform: translateY(300px) scale(1, 0.8);
            transform: translateY(300px) scale(1, 0.8);
    opacity: 1;
  }
  90%, 95% {
    border-radius: 50%;
    -webkit-transform: translateY(304px) scale(2, 0.2);
            transform: translateY(304px) scale(2, 0.2);
  }
  100% {
    -webkit-transform: translateY(304px) scaleY(0);
            transform: translateY(304px) scaleY(0);
    opacity: 0;
  }
}
@-webkit-keyframes rain-back {
  80%, 100% {
    -webkit-transform: translateY(304px);
            transform: translateY(304px);
    opacity: 0;
  }
}
@keyframes rain-back {
  80%, 100% {
    -webkit-transform: translateY(304px);
            transform: translateY(304px);
    opacity: 0;
  }
}
