// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #6699ff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.box {
	background: #FFF;
	width: 100px;
	height: 100px;
	bottom: -100px;
	transfrom-origin: 100% 50%;
	animation: moving 1.5s infinite;
}

.shadow {
	width: 120px;
	height: 20px;
	background: #0068BB;
	border-radius: 50%/50%;
	position: absolute;
	top: 90px;
	left: -10px;
	z-index: -1;
	animation: shadowscale 1.5s infinite;
}

@keyframes moving {
	20% {
		transform: translateY(-100px) rotateZ(180deg)
	}
	
	45% {
		transform: translateY(0) rotateZ(180deg)
	}
	
	70%, 85% {
		transform: translateY(25px) rotateZ(180deg) scale(2, 0.5);
	}
	
	100% {
		transform: translateY(0) rotateZ(180deg) scale(1)
	}
}

@keyframes shadowscale {
	20% {
		transform: scale(0.5)
	}
	
	45% {
		transform: scale(1.3, 1)
	}
	
	75%, 80% {
		transform: scale(2, 0.8)
	}
	
	100% {
		transform: scale(1)		
	}
}