// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.board {
  width: 400px;
	height: 400px;
	display: grid;
	grid-template-rows: 70% 30%;
}

.back {
	background: #f188f1;
}

.ground {
	background: #676767;
}

.ball {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 100px;
	left: 400px;
	animation: moving 2s linear infinite;
}

@keyframes moving {
	25% {	
		transform: translate(-140px, 140px);
	}
	26% {	
		transform: translate(-140px, 140px) scale(1.0, 0.85);
	}
	50% {
		transform: translate(-240px, 70px) scale(1.0);
	}
	75% {
		transform: translate(-340px, 140px);
	}
	76% {
		transform: translate(-340px, 140px) scale(1.0, 0.85);
	}
	100% {
		transform: translate(-440px, 80px) scale(1.0);
	}
}