@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #6699ff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box {
  background: #FFF;
  width: 100px;
  height: 100px;
  bottom: -100px;
  transfrom-origin: 100% 50%;
  -webkit-animation: moving 1.5s infinite;
          animation: moving 1.5s infinite;
}

.shadow {
  width: 120px;
  height: 20px;
  background: #0068BB;
  border-radius: 50%/50%;
  position: absolute;
  top: 90px;
  left: -10px;
  z-index: -1;
  -webkit-animation: shadowscale 1.5s infinite;
          animation: shadowscale 1.5s infinite;
}

@-webkit-keyframes moving {
  20% {
    -webkit-transform: translateY(-100px) rotateZ(180deg);
            transform: translateY(-100px) rotateZ(180deg);
  }
  45% {
    -webkit-transform: translateY(0) rotateZ(180deg);
            transform: translateY(0) rotateZ(180deg);
  }
  70%, 85% {
    -webkit-transform: translateY(25px) rotateZ(180deg) scale(2, 0.5);
            transform: translateY(25px) rotateZ(180deg) scale(2, 0.5);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(180deg) scale(1);
            transform: translateY(0) rotateZ(180deg) scale(1);
  }
}

@keyframes moving {
  20% {
    -webkit-transform: translateY(-100px) rotateZ(180deg);
            transform: translateY(-100px) rotateZ(180deg);
  }
  45% {
    -webkit-transform: translateY(0) rotateZ(180deg);
            transform: translateY(0) rotateZ(180deg);
  }
  70%, 85% {
    -webkit-transform: translateY(25px) rotateZ(180deg) scale(2, 0.5);
            transform: translateY(25px) rotateZ(180deg) scale(2, 0.5);
  }
  100% {
    -webkit-transform: translateY(0) rotateZ(180deg) scale(1);
            transform: translateY(0) rotateZ(180deg) scale(1);
  }
}
@-webkit-keyframes shadowscale {
  20% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  45% {
    -webkit-transform: scale(1.3, 1);
            transform: scale(1.3, 1);
  }
  75%, 80% {
    -webkit-transform: scale(2, 0.8);
            transform: scale(2, 0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes shadowscale {
  20% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  45% {
    -webkit-transform: scale(1.3, 1);
            transform: scale(1.3, 1);
  }
  75%, 80% {
    -webkit-transform: scale(2, 0.8);
            transform: scale(2, 0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
