@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: navy;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

circle {
  cursor: pointer;
  transpose: fill 2s;
}

line {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes dash {
  from {
    stroke-opacity: 0.5;
  }
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 0;
  }
}

@keyframes dash {
  from {
    stroke-opacity: 0.5;
  }
  to {
    stroke-dashoffset: 0;
    stroke-opacity: 0;
  }
}
